<template>

  <el-row>
    <el-tabs tab-position="left" style="padding-top: 20px">
      <el-tab-pane label="">说明:用户任务的出线可以作为动作按钮使用。操作按钮为连线的名称。网关类（策略）路由节点请不要配置使用该功能</el-tab-pane>
    </el-tabs>
    <div style="display: block;margin-left: 33px" class="main-div">
      <div style="padding-top: 10px;margin-left: 45px">
        <el-button type="primary" @click="save">保存</el-button>
        <el-button type="primary" @click="go"> <Icon type="md-close" />关闭</el-button>
      </div>
      <div style="margin-top: 20px;margin-left: 35px">
        <el-form ref="batchForm" :model="batchForm" label-width="80px" style="display: block">
          <el-form-item label="批量设置" prop="type">
            <el-checkbox-group v-model="batchForm.type">
              <el-checkbox label="enable" name="type" @change="chooseBatch('enable')">批量开启</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-form>
      </div>

    </div>

    <div style="display: block;" class="main-div">

      <el-col v-for="(item,index) in tableData" :key="index" :span="8">
        <Card style="margin-left: 20px;margin-bottom: 10px">
          <p slot="title">{{ item.name }}</p>
          <el-form ref="addForm" :model="addForm" label-width="120px" style="display: block">
            <el-form-item label="是否开启">
              <el-checkbox-group v-model="item.enable">
                <el-checkbox label="completed" name="type">是</el-checkbox>
              </el-checkbox-group>
            </el-form-item>

            <el-form-item label="连线名称">

              <el-button
                v-for="(item2,nodeIndex) in item.baseSequenceFlowList"
                type="danger"
                style="margin-left: 2px"
                color="primary"
                @click="delCommonUsers(nodeIndex)"
              >
                {{ item2.name==null?"暂无名称":item2.name }}
              </el-button>
            </el-form-item>

          </el-form>
        </Card>
      </el-col>

    </div>

  </el-row>

</template>

<script>
import { getAllActivityAndSequence, saveModelBusSequence } from '@/api/busModel'
import { getMessageTemplateTask } from '@/api/analy'

export default {
  name: 'Task',
  components: {},
  data() {
    return {
      ueditor: {
        value: '', // 编辑器默认内容
        config: { // 设置编辑器宽高
          initialFrameWidth: null,
          initialFrameHeight: 350
        }
      },
      addModel: false,
      alias: 'agree',
      addForm: {
        id: '',
        nodeName: '',
        emailContent: ''
      },
      batchForm: {
        id: '',
        type: [],
        emailContent: ''
      },
      tableData: [],
      existData: [],
      msgData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      modal_loading: false,
      msgModal: false,
      show: false,
      index: 0,
      existData: []
    }
  },
  mount() {

  },
  created() {
    // this.getData()
    var query = this.$route.query
    this.addForm.id = query.id
    if (query.id) {
      // 初始化数据
      this.getAllActivityAndSequence(query.id)
    }
  },
  methods: {
    confirmDialogEvent: function(data) {
      // activeName
      var node = this.tableData[this.index]
      if (node.activeName == 'created') {
        this.tableData[this.index].userCreatedNotify = data
        this.existData = this.tableData[this.index].userCreatedNotify
      } else {
        this.tableData[this.index].userCompletedNotify = data
      }
      this.show = false
    },
    delCommonUsers: function(index) {
      var node = this.tableData[this.index]
      if (node.activeName == 'created') {
        node.userCreatedNotify.splice(index, 1)
      }
      this.existData.splice(index, 1)
    },
    selectAddSignUsers: function(index) {
      this.index = index
      try {
        var node = this.tableData[this.index]
        if (node.activeName == 'created') {
          this.existData = node.userCreatedNotify
        } else {
          this.existData = node.userCompletedNotify
        }
      } catch (e) {
        this.existData = []
      }
      this.show = true
    },
    onSubmit: function() {
    },
    chooseBatch: function(type) {
      var flag = false
      var exist = this.batchForm.type
      if (exist.length == 0) {

      } else {
        if (exist.includes(type)) {
          console.log('选中')
          flag = true
        } else {
        }
      }
      this.tableData.forEach((item, index, array) => {
        // 执行代码
        if (type == 'enable') {
          item['enable'] = flag
        }
        if (type == 'emailCompleted') {
          item['emailCompleted'] = flag
        }
        if (type == 'msgCreated') {
          item['msgCreated'] = flag
        }
        if (type == 'msgCompleted') {
          item['msgCompleted'] = flag
        }
        if (type == 'created') {
          if (flag) {
            item['eventTypes'].push('created')
          } else {
            var index = item['eventTypes'].indexOf('created')
            if (index > -1) {
              item['eventTypes'].splice(index, 1)
            }
          }
        }
      })
    },
    getAllActivityAndSequence: function(id) {
      getAllActivityAndSequence(id).then((response2) => {
        if (response2.code == 0) {
          var data = response2.data
          this.tableData = data
        }
      })
    },
    go: function() {
      this.$router.go(-1)
    },
    close: function() {
      this.$store.dispatch('tagsView/delView', this.$route)
      // 返回上一步路由
      this.$router.go(-1)
    },
    save: function() {
      saveModelBusSequence(this.addForm.id, this.tableData).then((response2) => {
        if (response2.code == 0) {
          this.close()
        }
      })
    }

  }

}

</script>
<style lang="scss" scoped>
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 40% !important;
  }

  .task-card {
    margin-top: 10px;
  }

  .item {
    display: block;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 rgba(204, 207, 227, .45);
    margin-bottom: 10px;

  }

  .left {
    font-size: 16px;
    color: #575757;
  }

  img {
    width: 60px;
    height: 60px;
  }

</style>
