
<template>
  <div class="main-div">
    <Row>
      <Col span="24">
        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="name"
                    label="标题"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="subject"
                    label="模板名称"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="plain"
                    label="纯文本模板"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="isDefault"
                    label="是否默认"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.isDefault" type="primary">是</el-tag>
                      <el-tag v-else type="info">否</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="操作"
                  >
                    <template slot-scope="scope">
                      <el-button size="mini" type="text" icon="el-icon-edit" @click="openMsgDialog(scope.row.id)" />
                      <el-popconfirm
                        title="您确定要删除吗？"
                        confirm-button-text="确定"
                        cancel-button-text="取消"
                        @onConfirm="delMsg(scope.row.id)"
                      >
                        <el-button slot="reference" size="mini" type="text" icon="el-icon-delete" />
                      </el-popconfirm>

                    </template>
                  </el-table-column>

                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>

            <Modal v-model="msgModal" :mask-closable="false" width="45%" title="查看消息模板" :transfer="false">

              <Form :model="messageTemplate" :label-width="120">
                <FormItem label="模版名称">
                  <Input v-model="messageTemplate.subject" disabled />
                </FormItem>
                <FormItem label="模版业务键">
                  <Input v-model="messageTemplate.keyName" disabled />
                </FormItem>
                <FormItem label="是否默认模板">
                  <el-tag v-if="messageTemplate.isDefault=='1'" type="primary">是</el-tag>
                  <el-tag v-else type="error">否</el-tag>
                </FormItem>
                <FormItem label="标题">
                  <Input v-model="messageTemplate.subject" disabled />
                </FormItem>
                <FormItem label="纯文本">
                  <Input v-model="messageTemplate.plain" disabled />
                </FormItem>
                <FormItem label="纯文本模板">
                  <Input v-model="messageTemplate.plainTemplate" disabled />
                </FormItem>
              </Form>
              <div slot="footer" />
            </Modal>
            <Modal v-model="delMsgModal" width="360" :mask-closable="false" :transfer="false">
              <p slot="header" style="color:#f60;">
                <Icon type="ios-information-circle" />
                <span>删除操作</span>
              </p>
              <div style="text-align:center">
                确定要删除吗？
              </div>
              <div slot="footer">
                <Button type="error" size="large" long :loading="modal_loading" @click="delMsgConfirm">删除</Button>
              </div>
            </Modal>

          </div>
        </Card>
      </Col>

    </Row>

    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getMessageTemplate, getMessageTemplateById, delMessageTemplateById } from '@/api/analy'
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      modal_loading: false,
      msgModal: false,
      delMsgModal: false,
      delMsgModalId: '',
      chartData: {},
      sellerId: 0,
      shopName: [],
      messageTemplate: {

      },
      queryForm: {
        name: '',
        procDefName: '',
        subject: '',
        createTime: '',
        endTime: '',
        tmpCreateTime: '',
        tmpEndTime: '',
        page: 0,
        limit: 10,
        whereSql: '',
        typeKey: ''
      },
      categoryData: [
      ]
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.getData()
  },
  methods: {
    delMsgConfirm: function() {
      delMessageTemplateById(this.delMsgModalId).then((response) => {
        var code = response.code
        if (code == 0) {
          this.$Message.success('删除成功')
          this.delMsgModal = false
          this.getData()
        } else {
          this.$Message.success('未知异常')
        }
      })
    },
    openMsgDialog: function(id) {
      // 加载数据
      getMessageTemplateById(id).then((response) => {
        this.messageTemplate = response.data
      })
      this.msgModal = true
    },
    delMsg: function(id) {
      // 加载数据
      this.delMsgModalId = id
      // this.delMsgModal=true
      delMessageTemplateById(this.delMsgModalId).then((response) => {
        var code = response.code
        if (code == 0) {
          this.$Message.success('删除成功')
          this.delMsgModal = false
          this.getData()
        } else {
          this.$Message.success('未知异常')
        }
      })
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var tmpCreateTime = this.queryForm.tmpCreateTime
      if (tmpCreateTime) {
        if (tmpCreateTime[0]) {
          this.queryForm.createTime = tmpCreateTime[0] + ' - ' + tmpCreateTime[1]
        }
      }
      getInstanceList(this.queryForm).then((response) => {
        this.tableData = response.data

        this.total = parseInt(response.count)
      })
    },

    getData: function() {
      getMessageTemplate(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.queryForm = ''
      this.queryForm.whereSql = ''
      this.queryForm.subject = ''
      this.queryForm.procDefName = ''
      this.queryForm.tmpCreateTime = ''
      this.queryForm.tmpEndTime = ''
      this.queryForm.createTime = ''
      this.queryForm.endTime = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss" scoped>
  .main-div {
    background-color: #f3f3f3!important;
  }
.task-card{
  margin-top: 10px;
}

</style>
