<template>
  <div class="main-div">
    <Row>
      <Col span="4">
        <el-select v-model="queryForm.groupName" style="margin-top: 10px" @change="changeDemension">
          <el-option v-for="item in demensionData" :value="item.code" :label="item.demName" />
        </el-select>
        <Tree
          :data="categoryData"
          @on-select-change="refreshTree"
        />
      </Col>

      <Col span="20">
        <Card dis-hover class="task-card">
          <el-alert type="warning" title="维度下面不允许直接添加岗位，如果维度下面没用任何的组织，请首先到组织模块添加组织。" style="margin-top: 10px;margin-left: 19px" />
          <div class="app-container">
            <el-button type="primary" @click="add('inner')">
              <Icon type="ios-add" />
              新增
            </el-button>
            <el-row style="margin-top: 10px">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="posName"
                    label="岗位名称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="code"
                    label="编码"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="jobName"
                    label="职务名称"
                    width="300"
                    show-overflow-tooltip
                  />

                  <el-table-column
                    fixed="right"
                    label="操作"
                  >
                    <template slot-scope="scope">

                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-edit"
                        @click="handleClick(scope.row)"
                      />
                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-delete"
                        @click="handleDelClick(scope.row,scope.$index)"
                      />
                      <el-button size="mini" type="text" icon="el-icon-user" @click="listUser(scope.row)" />

                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>

  </div>

</template>

<script>
import { getTaskData, getTaskChartData, getBpmnModelCategory } from '@/api/analy'
import { getTypesByKey } from '@/api/form'
import { getDemensionList, getDemensionTypesByKey, getJobListByDemension, getJobListByDemensionPath, removeOrgPost, getOrgPostByCodeAndOrgId } from '@/api/uc'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
  name: 'Task',
  components: {
    Treeselect
  },

  data() {
    return {
      busObj: false,
      busStruct: '',
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      queryForm: {
        groupId: '',
        code: '',
        groupName: null,
        page: 0,
        limit: 10
      },
      listUserForm: {
        page: 0,
        limit: 10,
        code: '',
        orgId: ''
      },

      queryPath: {
        path: '',
        page: 0,
        limit: 10
      },
      demensionForm: {
        page: 0,
        limit: 1000
      },
      categoryData: [],
      demensionData: []
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.initData()
  },
  methods: {
    refreshTree: function(data) {
      if (data) {
        var path = data[0].path
        this.queryPath.path = path
        getJobListByDemensionPath(this.queryPath).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count)
        })
      }
    },
    changeDemension: function(code) {
      this.getTypesByKeyAction(code)
    },
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.demName,
        children: node.children
      }
    },
    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.queryForm.groupId = ''
        this.queryForm.groupName = null
      }
    },
    selectTree: function(node, instanceId) {
      this.queryForm.groupId = node.id
      this.queryForm.groupName = node.title
    },
    add: function(type) {
      this.$router.push({ name: 'ucorgpost_add', query: { t: new Date().getTime() }})
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.groupId = ''
      } else {
        this.queryForm.groupId = data[0].id
      }
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    getTypesByKeyAction: function(code) {
      getDemensionTypesByKey(code).then((response) => {
        var data = response.data
        this.categoryData = []
        this.categoryData.push(data)
        if (data) {
          this.refreshTree(this.categoryData)
        }
      })
    },
    initData: function() {
      this.getDemensionList()
    },
    getJobListByDemension: function() {
      getJobListByDemension(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    getDemensionList: function() {
      getDemensionList(this.demensionForm).then((response) => {
        var isDefault = true
        this.demensionData = response.data
        for (var value of response.data) {
          if (value.defaultVal) {
            isDefault = false
            this.queryForm.groupName = value['demName']
            this.getTypesByKeyAction(value['code'])
            this.queryForm.code = value['code']
            this.getJobListByDemension()
            break
          }
        }
        // 没有默认的
        if (isDefault) {
          if (this.demensionData.length > 0) {
            var first = this.demensionData[0]
            this.queryForm.groupName = first['demName']
            this.getTypesByKeyAction(first['code'])
            this.queryForm.code = first['code']
            this.getJobListByDemension()
          }
        }
      })
    },

    getData: function() {

      // businessObjectList(this.queryForm).then((response) => {
      //   this.tableData = response.data
      //   this.total = parseInt(response.count)
      // })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    handleClick(data) {
      this.$router.push({ name: 'ucorgpost_add', query: { t: new Date().getTime(), 'id': data.id }})
    },
    listUser: function(data) {
      var code = data.code
      var orgId = data.orgId
      this.listUserForm.code = code
      this.listUserForm.orgId = orgId
      this.$router.push({ name: 'ucorgpost_userList', query: { t: new Date().getTime(), 'code': code, 'orgId': orgId }})
    },
    handleDelClick(data, index) {
      var ids = []
      ids.push(data.id)
      removeOrgPost({ ids: ids }).then((response) => {
        // this.tableData
        if (response.code == 0) {
          this.tableData.splice(index, 1)
        } else {
          this.$message({ 'duration': '800', message: response.msg, type: 'warning', customClass: 'zZindex' })
        }
      })
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

</style>
