<template>
  <div class="main-div">
    <Row>
      <Col span="24" />
      <Card>

        <p slot="title">组织信息</p>
        <org-demension
          :on-ok="confirmDialogEvent"
          :show.sync="show"
          :exist-data="checkTableData"
        />

        <Form ref="formInline" :model="formInline" :label-width="80" :rules="ruleValidate">

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="deptName" label="部门名称">

                <Input v-model="formInline.deptName" type="text" clearable />
              </FormItem>

            </Col>
            <Col span="6">

              <FormItem prop="easyName" label="简称">
                <Input v-model="formInline.easyName" type="text" clearable />
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>

          <Row>

            <Col span="6" />
            <Col span="6">

              <FormItem prop="deptCode" label="部门编码">
                <Input v-model="formInline.deptCode" type="text" placeholder="编写时注意编码保证公司内唯一" :disabled="edit" clearable />
              </FormItem>

            </Col>
            <Col span="6">

              <FormItem prop="level" label="级别">

                <Input v-model="formInline.level" type="text" clearable />
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="parentName" label="上级部门">
                <Input v-model="formInline.parentName" type="text" :disabled="edit" @on-focus="openOrgDemension" />
              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="address" label="办公地址">
                <Input v-model="formInline.address" type="text" clearable />
              </FormItem>
            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="znMs" label="职能描述">
                <Input v-model="formInline.znMs" type="textarea" :autosize="{minRows: 2,maxRows: 5}" />

              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="bzHu" label="备注">
                <Input v-model="formInline.bzHu" type="textarea" :autosize="{minRows: 2,maxRows: 5}" />
              </FormItem>
            </Col>
            <Col span="6" />
          </Row>

        </Form>
        <el-button type="primary" :loading="loading" @click="save">保存</el-button>

      </Card>

      </Col>

    </Row>
  </div>

</template>

<script>
import { roleSave, getRole, updateRole, saveJob, getJobById, getJobList, saveOrgPost, getOrgPostById, saveOrg, getOrgById } from '@/api/uc'
import orgDemension from '@/views/uc/common/orgDemension'

export default {
  name: 'RoleAdd',
  components: { orgDemension },

  data() {
    return {
      loading: false,
      edit: false,
      show: false,
      ruleValidate: {
        deptName: [
          { required: true, message: '请输入部门名称', trigger: 'blur' }
        ],
        deptCode: [
          { required: true, message: '请输入部门编码', trigger: 'blur' }
        ],
        easyName: [
          { required: true, message: '请输入简称', trigger: 'blur' }
        ],
        parentName: [
          { required: true, message: '请选择上级部门', trigger: 'change' }
        ]
      },
      formInline: {
        id: '',
        deptName: '',
        easyName: '',
        deptCode: '',
        level: '',
        parentName: '',
        bzHu: '',
        path: '',
        znMs: '',
        address: '',
        parentId: '',
        demId: ''
      },
      jobDataList: [],
      checkTableData: []

    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    if (query.id) {
      this.formInline.id = query.id
      this.initOrg()
      this.edit = true
    } else {
      this.edit = false
    }
    this.initData()
  },

  methods: {
    openOrgDemension: function() {
      this.show = true
    },
    initOrg: function() {
      getOrgById(this.formInline.id).then((response) => {
        if (response.code == 0) {
          var data = response.data
          this.formInline.deptName = data.deptName
          this.formInline.easyName = data.easyName
          this.formInline.deptCode = data.deptCode
          this.formInline.parentName = data.parent.deptName
          this.formInline.bzHu = data.bzHu
          this.formInline.path = data.path
          this.formInline.znMs = data.znMs
          this.formInline.address = data.address
          this.formInline.parentId = data.parentId
          this.formInline.demId = data.demId
          this.formInline.level = data.level
        }
      })
    },
    openOrgDemension: function() {
      this.show = true
    },
    confirmDialogEvent: function(data) {
      if (data) {
        if (data.parentId) {
          this.formInline.parentId = data.id
        } else {
          // 维度
          this.formInline.parentId = data.demId
        }
        this.formInline.path = data.path
        this.formInline.demId = data.demId
        this.formInline.parentName = data.deptName
      }
      this.show = false
    },
    confirmField: function() {
      var checkData = this.existData
      this.dialogVisible = false
    },
    removeRight: function(index) {
      this.existData.splice(index, 1)
    },
    addColumnField: function() {
      var checkData = this.$refs.leftTable.selection

      this.existData = checkData
    },
    addColumn: function() {
      if (this.formInline.objName) {
        this.dialogVisible = true
        businessTableMetadataInfo(this.formInline.objName).then((response) => {
          if (response.code == 0) {
            this.tableData = response.data
          }
        })
      } else {
        this.$message({ 'duration': 800, message: '请先选择列', type: 'warning', customClass: 'zZindex' })
      }
    },
    changeselectNum: function(data) {
      this.formInline.tableName = data
      if (data == 'dataSource') {
        this.formInline.dataSourceHide = false
        this.formInline.restfulHide = true
      } else {
        this.formInline.dataSourceHide = true
        this.formInline.restfulHide = false
      }
    },
    operateDisabled: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return false
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return true
        } else {
          return false
        }
      }
      return true
    },
    operateShowExistdData: function(data) {
      if (this.formInline.type == 'external') {
        return true
      } else {
        return false
      }
    },
    operateDisabledDelBtn: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return true
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return false
        } else {
          return true
        }
      }
      return false
    },
    createTable: function() {
      businessTableCreate(this.formInline.id).then((response) => {
        if (response.code == 0) {
          this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })

          this.initData()
        }
      })
    },
    initData: function() {
      getJobList().then((response) => {
        if (response.code == 0) {
          this.jobDataList = response.data
        }
      })
    },
    selectTree: function(node, instanceId) {
      this.formInline.groupId = node.id
      this.formInline.groupName = node.title
    },

    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.groupId = ''
        this.formInline.groupName = null
      }
    },
    clearExistTableOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.tableName = null
      }
    },
    validateFormInline: function() {
      this.$nextTick(() => {
        this.$refs['formInline'].validate((valid) => {

        })
      })
    },
    save: function() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline
          this.loading = true

          if (formData.id) {
            saveOrg(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
              this.loading = false
            })
          } else {
            saveOrg(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              } else {
                this.$message({ 'duration': 800, message: response.msg, type: 'warning', customClass: 'zZindex' })
              }
              this.loading = false
            })
          }
        } else {
          return
        }
      })
    },
    selectDataTypeChanged: function(value, index) {
      this.ruleForm.tableData[index].type = value
    },

    delField: function(index) {
      this.ruleForm.tableData.splice(index, 1)
      this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })
    },
    disabledDelBtn: function(row) {
      for (var i = 0; i < this.existData.length; i++) {
        if (row === this.existData[i]) {
          return true
        }
      }
      return false
    },
    handleSubmit: function(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    add: function() {
      if (this.formInline.queryObjectName) {
        customDialogMetadataInfo(this.formInline.queryObjectName).then((response) => {
          if (response.code == 0) {
            this.categoryData = response.data
          } else {
            this.$message({ 'duration': 800, message: response.msg, type: 'warning', customClass: 'zZindex' })
          }
        })
      }
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }
      this.queryForm.createTime = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    // 后台返回的数据如果和VueTreeselect要求的数据结构不同，需要进行转换
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.tableName,
        label: node.tableName + '(' + node.tableComment + ')',
        children: node.children
      }
    },
    existTableNormalizer(node) {
      return {
        id: node.tableName,
        label: node.tableComment,
        children: node.children
      }
    },
    getData: function() {
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    handleClick(data) {
      this.$router.push({ name: 'handleRunTask', query: { t: new Date().getTime(), 'taskId': data.id }})
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 40% !important;
  }

  .cell {
    max-height: 54px !important;
    overflow: auto !important;
  }

</style>
