<template>
  <div class="main-div">
    <Row>
      <Col span="24" />
      <Card>

        <user-multiple-dialog
          :on-ok="confirmDialogEvent"
          :show.sync="show"
        />
        <div slot="title">

          <Button type="primary" style="margin-bottom: 2px;margin-right: 15px;" @click="save">保存</Button>

          <Button type="primary" @click="add('inner')">
            <Icon type="ios-add" />
            新增用户
          </Button>
          <Button type="primary" style="margin-bottom: 2px;margin-right: 15px;" @click="go">
            <Icon type="md-close" />关闭
          </Button>

        </div>

        <Form ref="formInline" :model="formInline" :label-width="80" :rules="ruleValidate">
          <el-alert
            style="margin-bottom: 10px"
            title="请确保勾选添加的用户需要关联的岗位"
            type="warning"
            show-icon
          />

          <FormItem prop="deptName" label="用户">
            <el-tag
              v-for="(user,key) in formInline.userArray"
              :key="user.userNo"
              closable
              type="success"
              @close="delUser(key)"
            >
              {{ user.fullname }}
            </el-tag>

          </FormItem>

          <FormItem prop="postCode" label="岗位">
            <CheckboxGroup v-model="formInline.postCode">
              <Checkbox v-for="item in jobDataList" :label="item.code">{{ item.posName }}</Checkbox>
            </CheckboxGroup>

          </FormItem>

        </Form>

      </Card>

      </Col>

    </Row>
  </div>

</template>

<script>
import {
  roleSave, getRole, updateRole, saveJob, getJobById, getJobList, saveOrgPost, getOrgPostById,
  saveOrg,
  getOrgPostAllList,
  saveOrgUsers,
  getOrgById

} from '@/api/uc'
import userMultipleDialog from '@/views/components/org/userMultipleDialog'

export default {
  name: 'RoleAdd',
  components: { userMultipleDialog },

  data() {
    return {
      edit: false,
      show: false,
      ruleValidate: {
      },
      formInline: {
        id: '',
        code: '',
        orgCode: '',
        postCode: [],
        userArray: []

      },
      jobDataList: [],
      checkTableData: []

    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    if (query.orgCode) {
      this.formInline.code = query.orgCode
      this.edit = true
    } else {
      this.edit = false
    }
    this.initData()
  },

  methods: {
    delUser: function(index) {
      this.formInline.userArray.splice(index, 1)
    },
    openOrgDemension: function() {
      this.show = true
    },
    initOrg: function() {
      getOrgById(this.formInline.id).then((response) => {
        if (response.code == 0) {
          var data = response.data
          this.formInline.deptName = data.deptName
          this.formInline.easyName = data.easyName
          this.formInline.deptCode = data.deptCode
          this.formInline.parentName = data.parent.deptName
          this.formInline.bzHu = data.bzHu
          this.formInline.path = data.path
          this.formInline.znMs = data.znMs
          this.formInline.address = data.address
          this.formInline.parentId = data.parentId
          this.formInline.demId = data.demId
          this.formInline.level = data.level
        }
      })
    },
    openOrgDemension: function() {
      this.show = true
    },
    confirmDialogEvent: function(data) {
      if (data) {
        this.formInline.userArray = data
      }
      this.show = false
    },
    confirmField: function() {
      var checkData = this.existData
      this.dialogVisible = false
    },
    go: function() {
      this.handlerModel = false
      // 调用全局挂载的方法
      this.$store.dispatch('tagsView/delView', this.$route)
      // 返回上一步路由
      this.$router.go(-1)
    },
    removeRight: function(index) {
      this.existData.splice(index, 1)
    },
    addColumnField: function() {
      var checkData = this.$refs.leftTable.selection

      this.existData = checkData
    },
    initData: function() {
      getOrgPostAllList(this.formInline.code).then((response) => {
        if (response.code == 0) {
          this.jobDataList = response.data
        }
      })
    },
    selectTree: function(node, instanceId) {
      this.formInline.groupId = node.id
      this.formInline.groupName = node.title
    },

    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.groupId = ''
        this.formInline.groupName = null
      }
    },
    clearExistTableOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.tableName = null
      }
    },
    validateFormInline: function() {
      this.$nextTick(() => {
        this.$refs['formInline'].validate((valid) => {

        })
      })
    },
    save: function() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline

          var ids = []

          for (var i = 0; i < formData.userArray.length; i++) {
            var d = {}

            var userCode = formData.userArray[i].userNo
            d['userCode'] = userCode
            d['orgCode'] = this.formInline.code
            if (formData.postCode.length > 0) {
              for (var j = 0; j < formData.postCode.length; j++) {
                var innerObj = {}
                innerObj['userCode'] = userCode
                innerObj['orgCode'] = this.formInline.code
                innerObj['postCode'] = formData.postCode[j]
                ids.push(innerObj)
              }
            } else {
              ids.push(d)
            }
          }
          if (formData.userArray.length > 0) {
            saveOrgUsers(ids).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
            })
          } else {
            this.$message({ 'duration': 800, message: '没有选择用户', type: 'warning', customClass: 'zZindex' })
          }
        } else {
          this.$message({ 'duration': 800, message: '表单校验不通过', type: 'warning', customClass: 'zZindex' })

          return
        }
      })
    },
    selectDataTypeChanged: function(value, index) {
      this.ruleForm.tableData[index].type = value
    },

    delField: function(index) {
      this.ruleForm.tableData.splice(index, 1)
      this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })
    },
    disabledDelBtn: function(row) {
      for (var i = 0; i < this.existData.length; i++) {
        if (row === this.existData[i]) {
          return true
        }
      }
      return false
    },
    handleSubmit: function(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    add: function() {
      this.show = true
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }
      this.queryForm.createTime = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
    },
    // 后台返回的数据如果和VueTreeselect要求的数据结构不同，需要进行转换
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.tableName,
        label: node.tableName + '(' + node.tableComment + ')',
        children: node.children
      }
    },
    existTableNormalizer(node) {
      return {
        id: node.tableName,
        label: node.tableComment,
        children: node.children
      }
    },
    getData: function() {
      getOrgPostAllList(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    handleClick(data) {
      this.$router.push({ name: 'handleRunTask', query: { t: new Date().getTime(), 'taskId': data.id }})
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 40% !important;
  }
  .cell {
    max-height: 54px !important;
    overflow: auto !important;
  }

</style>
