<template>
  <div class="main-div">
    <Row>
      <Col span="24" />
      <Card>
        <p slot="title">组织下属人员设置</p>

        <Modal
          v-model="addModel"
          :mask-closable="false"
          title="添加组织岗位"
          :transfer="false"
          @on-cancel="cancel"
        >
          <Form ref="formInline" :model="formInline" :label-width="80" :rules="ruleValidate">
            <FormItem prop="posName" label="岗位名称">

              <Input v-model="formInline.posName" type="text" clearable />
            </FormItem>

            <FormItem prop="code" label="岗位编码">
              <Input v-model="formInline.code" type="text" :disabled="edit" clearable />
            </FormItem>
            <FormItem prop="job" label="职务">
              <Select v-model="formInline.jobId">
                <Option v-for="item in jobDataList" :key="item.code" :value="item.code">{{ item.name }}</Option>
              </Select>
            </FormItem>
          </Form>
          <div slot="footer">
            <Button @click="cancel">取消</Button>
            <Button type="primary" @click="ok">确定</Button>
          </div>
        </Modal>

        <el-button type="primary" @click="add">
          <Icon type="ios-add" />
          新增
        </el-button>
        <el-button type="primary" style="margin-bottom: 2px;margin-right: 15px;" @click="go">
          <Icon type="md-close" />关闭
        </el-button>

        <el-row style="margin-top: 10px">
          <el-col>
            <el-table
              :data="tableData"
              size="mini"
              style="width: 100%"
              :height="tableHeight"
              border
            >
              <el-table-column
                fixed
                prop="fullname"
                label="用户名"
                width="180"
                show-overflow-tooltip
              />
              <el-table-column
                prop="deptName"
                label="所属岗位"
                width="300"
                show-overflow-tooltip
              >
                <template slot-scope="scope">
                  <el-tag v-for="tag in getScopeDepName(scope.row)" v-if="tag.length>0" type="success" class="tag-item">
                    {{ tag }}
                  </el-tag>

                </template>

              </el-table-column>
              <el-table-column
                prop="status"
                label="是否主组织"
                width="100"
                show-overflow-tooltip
              >
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.userOrgPost.isDefault" type="error">是</el-tag>
                  <el-tag v-else type="primary">否</el-tag>
                </template>
              </el-table-column>
              <el-table-column
                prop="status"
                label="负责人"
                width="80"
                show-overflow-tooltip
              >
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.userOrgPost.isLeader==2" type="error">主</el-tag>
                  <el-tag v-else-if="scope.row.userOrgPost.isLeader==1" type="success">是</el-tag>
                  <el-tag v-else type="danger">否</el-tag>
                </template>
              </el-table-column>
              <el-table-column
                fixed="right"
                label="操作"
              >
                <template slot-scope="scope">

                  <el-button
                    size="mini"
                    type="text"
                    @click="del(scope.row)"
                  >删除</el-button>
                  <el-button
                    size="mini"
                    type="text"
                    @click="addUnder(scope.row)"
                  >下属管理</el-button>
                  <el-button
                    v-if="scope.row.userOrgPost.isDefault"
                    size="mini"
                    type="text"
                    icon="el-icon-edit"
                    @click="setMaster(scope.row)"
                  >取消主组织</el-button>
                  <el-button
                    v-else
                    size="mini"
                    type="text"
                    @click="setMaster(scope.row)"
                  >设置主组织</el-button>

                  <!--                  组织负责人-->
                  <span v-if="scope.row.userOrgPost.isLeader==1">
                    <el-button
                      size="mini"
                      type="text"
                      @click="setLeader(scope.row)"
                    >设置为主负责人</el-button>
                    <el-button
                      size="mini"
                      type="text"
                      @click="setCancleNormalLeader(scope.row)"
                    >取消负责人</el-button>

                  </span>
                  <!--                  不是负责人-->

                  <span v-else-if="scope.row.userOrgPost.isLeader==0">
                    <el-button
                      size="mini"
                      type="text"
                      @click="setLeader(scope.row)"
                    >设置为主负责人</el-button>
                    <el-button
                      size="mini"
                      type="text"
                      @click="setNormalLeader(scope.row)"
                    >设置负责人</el-button>

                  </span>

                  <!--                  主负责人-->
                  <span v-else-if="scope.row.userOrgPost.isLeader==2">

                    <el-button
                      size="mini"
                      type="text"
                      @click="setCancleLeader(scope.row)"
                    >取消主负责人</el-button>

                  </span>

                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center">
          <el-pagination
            background
            :current-page="queryForm.page"
            :page-size="queryForm.pageSize"
            layout="total, prev, pager, next, jumper"
            :total="total"
            @current-change="handleCurrentChange"
          />
        </el-row>

      </Card>

      </Col>

    </Row>
  </div>

</template>

<script>
import { saveDemension, getRole, updateRole, saveJob, getDemensionById, getOrgPostList, getJobList,
  saveOrgPost, getOrgPostById
  , removeOrgUser
  , setMaster
  , setLeader
  , setCancleLeader
  , setNormalLeader
  , setCancleNormalLeader
  , removeOrgPost, getByOrgUser

} from '@/api/uc'
export default {
  name: 'RoleAdd',
  components: {},

  data() {
    return {
      edit: false,
      addModel: false,
      tableData: [],
      total: 0,
      tableHeight: 450,
      queryForm: {
        groupId: '',
        code: '',
        groupName: null,
        page: 1,
        length: 10
      },
      ruleValidate: {
        demName: [
          { required: true, message: '请输入', trigger: 'blur' }
        ],
        code: [
          { required: true, message: '请输入岗位编码', trigger: 'blur' }
        ],
        posName: [
          { required: true, message: '请输入岗位名称', trigger: 'blur' }
        ],
        orgName: [
          { required: true, message: '请输入', trigger: 'blur' }
        ]
      },
      jobDataList: [],
      formInline: {
        id: '',
        posName: '',
        name: '',
        orgId: '',
        orgName: '',
        jobId: '',
        code: ''
      }

    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    if (query.code) {
      this.queryForm.code = query.code
      this.formInline.orgId = query.code
      this.initData()
    } else {
    }
  },

  methods: {
    getScopeDepName: function(rec) {
      var posName = ''
      if (rec.ucOrgPosts) {
        var postCode = rec.userOrgPost.postCode
        rec.ucOrgPosts.forEach(function(value) {
          if (postCode == value.code) {
            posName = value.posName
          }
        })
        var ids = []
        ids.push(posName)
        return ids
      }
    },
    go: function() {
      this.handlerModel = false
      // 调用全局挂载的方法
      this.$store.dispatch('tagsView/delView', this.$route)
      // 返回上一步路由
      this.$router.go(-1)
    },
    initUcOrg: function() {
      getOrgPostById(this.formInline.id).then((response) => {
        if (response.code == 0) {
          var data = response.data
          this.formInline.posName = data.posName
          this.formInline.jobId = data.jobId
          this.formInline.orgId = data.orgId
          this.formInline.code = data.code
          this.formInline.orgName = data.ucOrg.deptName
        }
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.initData()
    },
    restartForm: function() {
      this.formInline.id = ''
      this.formInline.posName = ''
      this.formInline.name = ''
      this.formInline.orgName = ''
      this.formInline.jobId = ''
      this.formInline.code = ''
    },
    ok() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline

          if (formData.id) {
            saveOrgPost(formData).then((response) => {
              if (response.code == 0) {
                this.addModel = false
                this.initData()
                this.restartForm()
              }
            })
          } else {
            saveOrgPost(formData).then((response) => {
              if (response.code == 0) {
                this.addModel = false
                this.initData()
                this.restartForm()
              }
            })
          }
        } else {
          this.$message({ 'duration': 800, message: '表单校验不通过', type: 'warning', customClass: 'zZindex' })

          return false
        }
      })
    },
    cancel() {
      this.restartForm()
      this.addModel = false
    },
    confirmField: function() {
      var checkData = this.existData
      this.dialogVisible = false
    },
    removeRight: function(index) {
      this.existData.splice(index, 1)
    },
    addColumnField: function() {
      var checkData = this.$refs.leftTable.selection

      this.existData = checkData
    },
    addColumn: function() {
      if (this.formInline.objName) {
        this.dialogVisible = true
        businessTableMetadataInfo(this.formInline.objName).then((response) => {
          if (response.code == 0) {
            this.tableData = response.data
          }
        })
      } else {
        this.$message({ 'duration': 800, message: '请先选择列', type: 'warning', customClass: 'zZindex' })
      }
    },
    changeselectNum: function(data) {
      this.formInline.tableName = data
      if (data == 'dataSource') {
        this.formInline.dataSourceHide = false
        this.formInline.restfulHide = true
      } else {
        this.formInline.dataSourceHide = true
        this.formInline.restfulHide = false
      }
    },
    operateDisabled: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return false
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return true
        } else {
          return false
        }
      }
      return true
    },
    operateShowExistdData: function(data) {
      if (this.formInline.type == 'external') {
        return true
      } else {
        return false
      }
    },
    operateDisabledDelBtn: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return true
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return false
        } else {
          return true
        }
      }
      return false
    },
    createTable: function() {
      businessTableCreate(this.formInline.id).then((response) => {
        if (response.code == 0) {
          this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })

          this.initData()
        }
      })
    },
    initData: function() {
      getByOrgUser(this.queryForm).then((response) => {
        if (response.code == 0) {
          this.tableData = response.page.aaData
          this.total = parseInt(response.page.total)
        }
      })
    },
    selectTree: function(node, instanceId) {
      this.formInline.groupId = node.id
      this.formInline.groupName = node.title
    },

    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.groupId = ''
        this.formInline.groupName = null
      }
    },
    clearExistTableOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.tableName = null
      }
    },
    validateFormInline: function() {
      this.$nextTick(() => {
        this.$refs['formInline'].validate((valid) => {

        })
      })
    },
    save: function() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline

          if (formData.id) {
            saveDemension(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
            })
          } else {
            saveDemension(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
            })
          }
        } else {
          return
        }
      })
    },
    selectDataTypeChanged: function(value, index) {
      this.ruleForm.tableData[index].type = value
    },

    delField: function(index) {
      this.ruleForm.tableData.splice(index, 1)
      this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })
    },
    disabledDelBtn: function(row) {
      for (var i = 0; i < this.existData.length; i++) {
        if (row === this.existData[i]) {
          return true
        }
      }
      return false
    },
    handleSubmit: function(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    getJobList: function() {
      getJobList().then((response) => {
        if (response.code == 0) {
          this.jobDataList = response.data
        }
      })
    },
    add: function() {
      this.$router.push({ name: 'org_addOrgPostUser', query: { t: new Date().getTime(), orgCode: this.queryForm.code }})
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }
      this.queryForm.createTime = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    // 后台返回的数据如果和VueTreeselect要求的数据结构不同，需要进行转换
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.tableName,
        label: node.tableName + '(' + node.tableComment + ')',
        children: node.children
      }
    },
    existTableNormalizer(node) {
      return {
        id: node.tableName,
        label: node.tableComment,
        children: node.children
      }
    },
    getData: function() {
      // getOrgPostList
    },
    handleClick(data) {
      this.formInline.id = data.id
      this.getJobList()
      this.initUcOrg()
      this.addModel = true
      this.edit = true
    },
    del(data) {
      var ids = []
      ids.push(data.orgPostId)
      removeOrgUser({ ids: ids }).then((response) => {
        this.initData()
      })
    },
    addUnder: function(data) {
      this.$router.push({ name: 'org_userList', query: { t: new Date().getTime(), 'id': data.userNo, 'code': this.queryForm.code }})
    },
    setMaster(data) {
      setMaster(data.orgPostId).then((response) => {
        this.initData()
      })
    },
    setLeader(data) {
      setLeader(data.orgPostId, data.id).then((response) => {
        this.initData()
      })
    },
    setCancleNormalLeader(data) {
      setCancleNormalLeader(data.orgPostId, data.id).then((response) => {
        this.initData()
      })
    },
    setNormalLeader(data) {
      setNormalLeader(data.orgPostId, data.id).then((response) => {
        this.initData()
      })
    },
    setCancleLeader(data) {
      setCancleLeader(data.orgPostId, data.id).then((response) => {
        this.initData()
      })
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 30% !important;
  }

  .cell {
    max-height: 54px !important;
    overflow: auto !important;
  }

</style>
