<template>
  <div class="main-div">
    <Row>
      <Col span="24" />
      <Card>
        <user-multiple-under-dialog
          :on-ok="confirmDialogEvent"
          :show.sync="show"
          :exist-data="checkTableData"
          alias="roleUnderUser"
          :org-code="formInline.id"
          :post-code="formInline.code"
        />

        <div slot="title">
          <el-button type="primary" @click="openUserDialog()"><Icon type="ios-add" />
            添加</el-button>
          <el-button v-if="checkTableData.length>0" type="error" @click="deleted()">
            <Icon type="md-trash" />
            删除
          </el-button>
          <el-button type="primary" style="margin-bottom: 2px;margin-right: 15px;" @click="go">
            <Icon type="md-close" />关闭
          </el-button>

        </div>

        <el-row style="margin-top: 10px">
          <el-col>
            <el-table
              :data="tableData"
              size="mini"
              style="width: 100%"
              :height="tableHeight"
              border
              @select="tableSelect"
              @select-all="tableSelect"
            >
              <el-table-column
                type="selection"
                width="55"
              />
              <el-table-column
                fixed
                prop="fullname"
                label="姓名"
                width="120"
                show-overflow-tooltip
              />
              <el-table-column
                prop="account"
                label="账户"
                width="220"
                show-overflow-tooltip
              />
              <el-table-column
                prop="status"
                label="状态"
                width="100"
                show-overflow-tooltip
              >
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.status==0" type="primary">禁用</el-tag>
                  <el-tag v-else type="error">正常</el-tag>
                </template>
              </el-table-column>

              <el-table-column
                prop="mobile"
                label="手机号"
                width="220"
                show-overflow-tooltip
              />
              <el-table-column
                prop="email"
                label="邮箱"
                width="220"
                show-overflow-tooltip
              />
              <el-table-column
                prop="createTime"
                label="创建时间"
                width="180"
                show-overflow-tooltip
              />
              <el-table-column
                fixed="right"
                label="操作"
              >
                <template slot-scope="scope">
                  <el-button size="mini" type="text" icon="el-icon-delete" @click="deleted(scope.row)" />
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
        <el-row type="flex" justify="center">
          <el-pagination
            background
            :current-page="queryForm.page"
            :page-size="queryForm.pageSize"
            layout="total, prev, pager, next, jumper"
            :total="total"
            @current-change="handleCurrentChange"
          />
        </el-row>

      </Card>

      </Col>

    </Row>
  </div>

</template>

<script>
import { roleSave, getRole, updateRole, roleUnderUser, removeUserUnderRole, saveRoleUnderUser, getOrgPostByCodeAndOrgId, removeUserUnderOrgPost
  , saveRoleUnderOrgCodeUser, getUserUnder
  , removeUserUnder
  , saveUnderUser

} from '@/api/uc'

import userMultipleUnderDialog from '@/views/uc/common/userMultipleUnderDialog'

export default {
  name: 'RoleAdd',
  components: { userMultipleUnderDialog },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      checkTableData: [],
      queryDate: [],
      total: 0,
      busChildShow: false,
      show: false,
      edit: false,
      queryForm: {
        groupId: '',
        page: 0,
        limit: 10
      },
      ruleValidate: {
        name: [
          { required: true, message: '    ', trigger: 'blur' }
        ],
        code: [
          { required: true, message: '    ', trigger: 'blur' }
        ]
      },
      formInline: {
        id: '',
        description: '',
        name: '',
        code: '',
        orgId: '',
        page: 1,
        length: 10
      }

    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    if (query.id) {
      this.formInline.id = query.id
      this.formInline.code = query.code
      this.initData()
    } else {
      this.edit = false
    }
  },

  methods: {
    confirmDialogEvent: function(data) {
      var ids = []
      if (data.length > 0) {
        for (let i = 0; i < data.length; i++) {
          ids.push({ 'underUserCode': data[i].userNo, 'userCode': this.formInline.id, 'orgCode': this.formInline.code })
        }

        saveUnderUser(ids).then((response) => {
          if (response.code == 0) {
            this.initData()
          }
        })
      }
    },
    openUserDialog: function() {
      this.show = true
    },
    tableSelect: function(data) {
      this.checkTableData = data
    },
    deleted: function(data) {
      var ids = []
      if (data) {
        ids.push(data.underId)
      } else {
        this.checkTableData.forEach(element => {
          ids.push(element.underId)
        })
      }
      removeUserUnder({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.initData()
        }
      })
    },
    go: function() {
      this.handlerModel = false
      // 调用全局挂载的方法
      this.$store.dispatch('tagsView/delView', this.$route)
      // 返回上一步路由
      this.$router.go(-1)
    },
    confirmField: function() {
      var checkData = this.existData
      this.dialogVisible = false
    },
    removeRight: function(index) {
      this.existData.splice(index, 1)
    },
    addColumnField: function() {
      var checkData = this.$refs.leftTable.selection

      this.existData = checkData
    },
    addColumn: function() {
      if (this.formInline.objName) {
        this.dialogVisible = true
        businessTableMetadataInfo(this.formInline.objName).then((response) => {
          if (response.code == 0) {
            this.tableData = response.data
          }
        })
      } else {
        this.$message({ 'duration': 800, message: '请先选择列', type: 'warning', customClass: 'zZindex' })
      }
    },
    changeselectNum: function(data) {
      this.formInline.tableName = data
      if (data == 'dataSource') {
        this.formInline.dataSourceHide = false
        this.formInline.restfulHide = true
      } else {
        this.formInline.dataSourceHide = true
        this.formInline.restfulHide = false
      }
    },
    operateDisabled: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return false
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return true
        } else {
          return false
        }
      }
      return true
    },
    operateShowExistdData: function(data) {
      if (this.formInline.type == 'external') {
        return true
      } else {
        return false
      }
    },
    operateDisabledDelBtn: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return true
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return false
        } else {
          return true
        }
      }
      return false
    },
    createTable: function() {
      businessTableCreate(this.formInline.id).then((response) => {
        if (response.code == 0) {
          this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })

          this.initData()
        }
      })
    },
    initData: function() {
      getUserUnder(this.formInline).then((response) => {
        this.tableData = response.page.aaData
        this.total = parseInt(response.page.total)
      })
    },
    selectTree: function(node, instanceId) {
      this.formInline.groupId = node.id
      this.formInline.groupName = node.title
    },

    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.groupId = ''
        this.formInline.groupName = null
      }
    },
    clearExistTableOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.tableName = null
      }
    },
    validateFormInline: function() {
      this.$nextTick(() => {
        this.$refs['formInline'].validate((valid) => {

        })
      })
    },
    save: function() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline

          if (formData.id) {
            updateRole(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
            })
          } else {
            roleSave(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              }
            })
          }
        } else {
          this.$message({ 'duration': 800, message: '表单校验不通过', type: 'warning', customClass: 'zZindex' })

          return
        }
      })
    },
    selectDataTypeChanged: function(value, index) {
      this.ruleForm.tableData[index].type = value
    },

    delField: function(index) {
      this.ruleForm.tableData.splice(index, 1)
      this.$message({ 'duration': 800, message: '删除成功', type: 'warning', customClass: 'zZindex' })
    },
    disabledDelBtn: function(row) {
      for (var i = 0; i < this.existData.length; i++) {
        if (row === this.existData[i]) {
          return true
        }
      }
      return false
    },
    handleSubmit: function(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    add: function() {
      if (this.formInline.queryObjectName) {
        customDialogMetadataInfo(this.formInline.queryObjectName).then((response) => {
          if (response.code == 0) {
            this.categoryData = response.data
          }
        })
      }
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }
      this.queryForm.createTime = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    // 后台返回的数据如果和VueTreeselect要求的数据结构不同，需要进行转换
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.tableName,
        label: node.tableName + '(' + node.tableComment + ')',
        children: node.children
      }
    },
    existTableNormalizer(node) {
      return {
        id: node.tableName,
        label: node.tableComment,
        children: node.children
      }
    },
    getData: function() {

    },
    handleCurrentChange(val) {
      this.formInline.page = val
      this.initData()
    },
    handleClick(data) {
      this.$router.push({ name: 'handleRunTask', query: { t: new Date().getTime(), 'taskId': data.id }})
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 30% !important;
  }

  .cell {
    max-height: 54px !important;
    overflow: auto !important;
  }

</style>
