<template>
  <div>
    <router-link to="/empty_house/house_action/new_log">
      新建登记
    </router-link>
    <Table :type="'house'" :cols="gardenCols" @operation="action" />
  </div>
</template>

<script>
import Table from "./../indexTable";
export default {
  name: "HgsIndex",
  components: {
    Table,
  },
  data() {
    return {
      gardenCols: [
        {
          p: "garden",
          l: "所属园区",
          w: "",
        },
        {
          p: "houseNumber",
          l: "房屋编号",
          w: "",
        },
        {
          p: "houseType",
          l: "房屋类型",
          w: "",
        },
        {
          p: "buildingName",
          l: "楼宇名称",
          w: "",
        },
        {
          p: "totalArea",
          l: "总面积",
          w: "",
        },
        {
          p: "liaison",
          l: "联系人",
          w: "",
        },
        {
          p: "contact",
          l: "联系方式",
          w: "",
        },
        {
          p: "email",
          l: "E-mail",
          w: "",
        },
      ],
    };
  },

  mounted() {},

  methods: {
    action(type) {
      console.log("action from gardenTable", type);
    },
  },
};
</script>

<style lang="scss" scoped></style>
