<template>
  <div>
    <div class="mb20 bgfff p30 br5 pb118">
      <div class="title_line_border mb30">
        <span class="title_background">房屋信息登记</span>
      </div>
      <el-form>
        <div class="df">
          <el-form-item class="df_ac">
            <span class="form_item_lw">园区名称：</span
            ><el-input style="width: 428px;"></el-input>
          </el-form-item>
          <el-form-item>
            <span class="form_item_rw_1">房屋编号：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <el-form-item>
          <span class="form_item_lw">楼栋名称：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">楼层：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">单元号：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">朝向：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">房屋类型：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">实用面积：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">公摊面积：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">总面积：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">租金：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">联系人：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">联系方式：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">E-mail：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
      </el-form>
    </div>
    <div class="bgfff br5 h88 df df_jr ac">
      <el-button class="btn mr20">确定</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "HgsTest",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}

::v-deep .el-button {
  width: 100px;
  height: 40px;
  background: #343434;
  color: #fff;
}
</style>
