
<template>
  <div class="main-div">
    <Row>
      <Col span="4">
        <Tree :data="categoryData" expand="true" default-expand-all="true" @on-select-change="refreshTask" />
      </Col>
      <Col span="20">

        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row type="flex" justify="start" style="margin-left: -44px">
              <el-form :inline="true" :model="queryForm" label-width="80px" inline size="mini">
                <el-form-item label="标题">
                  <el-input v-model="queryForm.title" clearable />

                </el-form-item>
                <el-form-item label="实例状态">
                  <el-select v-model="queryForm.status" clearable placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>

            </el-row>
            <el-row style="margin-top: 10px;">
              <el-button v-if="checkTableData.length>0" type="primary" @click="remove">标记已读</el-button>

              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                  @select="tableSelect"
                  @select-all="tableSelect"
                >
                  <el-table-column
                    type="selection"
                    width="55"
                  />
                  <el-table-column
                    fixed
                    prop="commu"
                    label="来自"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="bizStatus"
                    label="状态"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">

                      <el-tag type="info">{{ scope.row.bizStatus }}</el-tag>

                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="title"
                    label="标题"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="typeTitle"
                    label="类型"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="receiveTime"
                    label="接收时间"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    fixed="right"
                    label="操作"
                    show-overflow-tooltip
                    width="100"
                  >
                    <template slot-scope="scope">
                      <el-button size="mini" type="text" @click="details(scope.row.procId)">查看</el-button>

                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>
    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getRunCommuList, tagRead } from '@/api/commu'
import { getBpmnModelCategory } from '@/api/analy'

import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      options: [{
        value: 'running',
        label: '运行'
      }, {
        value: 'completed',
        label: '完成'
      }, {
        value: 'invalid',
        label: '作废'
      }],
      checkTableData: [],
      tableData: [],
      tableHeight: 450,
      total: 0,
      chartVisible: false,
      chartData: {},
      sellerId: 0,
      queryDate: [],
      shopName: [],
      queryForm: {
        name: '',
        title: '',
        status: '',
        page: 0,
        limit: 10,
        whereSql: '',
        typeKey: ''
      },
      categoryData: [
      ]
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },

  created() {
    this.getData()
  },
  methods: {
    remove: function() {
      var checkTableData = this.checkTableData
      var ids = []

      for (var i = 0; i < checkTableData.length; i++) {
        ids.push(checkTableData[i].id)
      }
      tagRead({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.checkTableData = []
          this.getData()
        } else {
          this.$message({ 'duration': '800', message: response.msg, type: 'warning', customClass: 'zZindex' })
        }
      })
    },
    tableSelect: function(data) {
      this.checkTableData = data
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    details: function(processInstanceId) {
      this.$router.push({ name: 'runCommuDetails', query: { t: new Date().getTime(), 'processInstanceId': processInstanceId }})
    },
    queryMethod: function() {
      getRunCommuList(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }

      this.queryForm.title = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.queryForm.page = 0

      this.getData()
    },
    getData: function() {
      getBpmnModelCategory().then((response) => {
        this.categoryData = response.data
      })
      getRunCommuList(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },

    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.title = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.queryForm.status = ''
      this.queryForm.page = 0
      this.getData()
    }

  }

}

</script>
<style lang="scss">
.task-card{
  margin-top: 10px;
}

</style>
