@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.df {
  display: flex;
}
.df_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d_row {
  flex-direction: row;
}
.d_col {
  flex-direction: column;
}
.h67 {
  height: 67px;
}
.lh67 {
  line-height: 67px;
}
.df_jsb {
  display: flex;
  justify-content: space-between;
}

.df_jr {
  display: flex;
  justify-content: right;
}
.ac {
  align-items: center;
}
.df_ac {
  display: flex;
  align-items: center;
}

.df_jsa {
  display: flex;
  justify-content: space-around;
}

.df_jse {
  display: flex;
  justify-content: space-evenly;
}
.f1 {
  flex: 1;
}
.tac {
  text-align: center;
}
.active {
  background-color: #343434;
  color: #fff;
}
.fs18 {
  font-size: 18px;
}

.p10 {
  padding: 10px;
}
.p_lr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p_tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p20 {
  padding: 20px;
}
.mlr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.p30 {
  padding: 30px;
}
.pt30 {
  padding-top: 30px;
}
.p_tb20 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p22 {
  padding: 22px;
}
.m20 {
  margin: 20px;
}

.ml10 {
  margin-left: 10px;
}
.ml45 {
  margin-left: 45px;
}
.ml225 {
  margin-left: 225px;
}
.ml20 {
  margin-left: 20px;
}
.ml320 {
  margin-left: 320px;
}
.ml415 {
  margin-left: 415px;
}
.mr12 {
  margin-right: 12px;
}
.mr20 {
  margin-right: 20px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.bgf7 {
  background-color: #f7f7f7;
}
.bgfff {
  background-color: #fff;
}
.descri {
  font-size: 16px;
  font-family: SourceHanSansSC-regular;
  color: #a8a8a8;
}
.w100 {
  width: 100%;
}

.border_b {
  border-bottom: 2px solid #f7f7f7;
}
.border_r {
  border-right: 2px solid #f7f7f7;
}
.oh {
  overflow: hidden;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 10px;
  border-bottom: 1px solid #f2f2f2;
  .card_left {
    .card_title {
      font-family: SourceHanSansSC-regular;
      color: rgba(63, 63, 63, 100);
      font-size: 18px;
    }

    .card_writter {
      color: rgba(163, 163, 163, 100);
      font-size: 16px;
      font-family: SourceHanSansSC-regular;
      margin-top: 10px;
      span {
        margin-right: 20px;
      }
    }
  }
  .card_right {
    display: flex;
    align-items: center;
    color: rgba(68, 170, 210, 100);
    font-size: 14px;
  }
}

.head_img {
  width: 69px;
  height: 69px;
  border-radius: 50%;
}

.approve_img {
  width: 336px;
  height: 101px;
}

.approve_text {
  color: rgba(40, 40, 40, 100);
  font-size: 12px;
  font-family: SourceHanSansSC-regular;
}
.mini {
  color: rgba(163, 163, 163, 100);
  font-size: 16px;
  font-family: SourceHanSansSC-regular;
}

.border_t {
  border-top: 8px solid #568ce6;
}
.border_ {
  border: 1px solid #ccc;
}
.h66 {
}

.title_line_border {
  border-bottom: 4px solid #2e2e2e;
}
.title_background {
  display: block;
  width: 180px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  background-color: #2e2e2e;
}
.title_background_ {
  display: block;
  width: fit-content;
  padding: 0 10px;
  height: 25px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  background-color: #2e2e2e;
}
.br5 {
  border-radius: 5px;
}
.br_b_lr {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form_item_lw {
  display: block;
  width: 165px;
  text-align: right;
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  color: #101010;
}

.form_item_lw_brooder {
  display: block;
  width: 90px;
  text-align: right;
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  color: #101010;
}
.form_item_lw_economic {
  display: block;
  width: 100px;
  text-align: right;
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  color: #101010;
}
.form_item_rw {
  display: block;
  width: 500px;
  text-align: right;
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  color: #101010;
}

.form_item_rw_1 {
  display: block;
  width: 346px;
  text-align: right;
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  color: #101010;
}
.pb118 {
  padding-bottom: 118px;
}
.h88 {
  height: 88px;
  line-height: 88px;
  text-align: right;
}

.target_customer_log {
  color: #101010;
  font-family: SourceHanSansSC-regular;
  font-size: 28px;
}

.plr180 {
  padding-left: 180px;
  padding-right: 180px;
}

.line_input {
  border: 0;
}

.wSearchInput {
  width: 200px !important;
}

::v-deep .el-pagination {
  text-align: right !important;
}
