
<template>
  <div class="main-div">
    <Row>
      <Col span="24">

        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row type="flex" justify="start" style="margin-left: -14px">
              <el-form :inline="true" :model="queryForm" class="demo-form-inline" label-width="80px" inline size="mini">
                <el-form-item label="维度名称">
                  <el-input v-model="queryForm.demName" clearable />
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>
            </el-row>

            <el-button type="primary" style="margin-bottom: 10px" @click="add"><Icon type="ios-add" />
              添加</el-button>
            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    prop="demName"
                    label="名称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="code"
                    label="别名"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="demDesc"
                    label="描述"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="defaultVal"
                    label="是否默认"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.defaultVal" type="success">是</el-tag>
                      <el-tag v-else type="error">否</el-tag>
                    </template>

                  </el-table-column>
                  <el-table-column
                    prop="createTime"
                    label="操作"
                  >
                    <template slot-scope="scope">
                      <el-button size="mini" type="text" icon="el-icon-edit" @click="edit(scope.row)" />
                      <el-button size="mini" type="text" icon="el-icon-delete" @click="deleted(scope.row)" />
                      <el-button v-if="scope.row.defaultVal==false" size="mini" type="text" icon="el-icon-s-operation" @click="setDemensionDefault(scope.row)">设为默认</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>
    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getDemensionList, removeDemension, setDemensionDefault } from '@/api/uc'
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      queryForm: {
        page: 0,
        limit: 10,
        name: '',
        search_defaultVal: '',
        whereSql: '',
        demName: ''
      },
      categoryData: [
      ]
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.getData()
  },
  methods: {
    setDemensionDefault: function(data) {
      setDemensionDefault(data.id).then((response) => {
        if (response.code == 0) {
          this.getData()
        }
      })
    },
    userList: function(data) {
      this.$router.push({ name: 'role_userList', query: { t: new Date().getTime(), code: data.code }})
    },
    deleted: function(data) {
      var ids = []
      ids.push(data.id)
      removeDemension({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.getData()
        } else {
          this.$message({ message: response.msg, type: 'warning', customClass: 'zZindex' })
        }
      })
    },
    edit: function(data) {
      this.$router.push({ name: 'demension_add', query: { t: new Date().getTime(), id: data.id }})
    },
    add: function() {
      this.$router.push({ name: 'demension_add', query: { t: new Date().getTime() }})
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },

    getData: function() {
      getDemensionList(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.page = 0
      this.getData()
    },
    reset() {
      this.queryForm.demName = ''
      this.queryForm.search_defaultVal = ''
      this.queryForm.whereSql = ''
      this.getData()
    }

  }

}

</script>
<style lang="scss" scoped>
  .main-div {
    background-color: #f3f3f3!important;
  }
.task-card{
  margin-top: 10px;
}.ivu-input-with-suffix {
   padding-right: 0px!important;
 }

</style>
