<template>
  <div>
    <div>
      <router-link to="/empty_house/garden_action/new_log">
        新建登记1
      </router-link>
    </div>
    <Table :type="'garden'" :cols="gardenCols" @operation="action" />
  </div>
</template>

<script>
import Table from "./../indexTable";
export default {
  name: "HgsIndex",
  components: {
    Table,
  },
  data() {
    return {
      gardenCols: [
        {
          p: "gardenName",
          l: "园区名称",
          w: "",
        },
        {
          p: "customerName",
          l: "业主方名称",
          w: "",
        },
        {
          p: "street",
          l: "所属街道",
          w: "",
        },
        {
          p: "arcTotalArea",
          l: "总建筑面积",
          w: "",
        },
        {
          p: "connection",
          l: "大厦联系人",
          w: "",
        },
        {
          p: "call",
          l: "办公电话",
          w: "",
        },
      ],
    };
  },

  mounted() {},

  methods: {
    action(type) {
      console.log("action from gardenTable", type);
    },
  },
};
</script>

<style lang="scss" scoped></style>
