<template>
  <div>
    <div class="mb20 bgfff p30 br5 pb118">
      <div class="title_line_border mb30">
        <span class="title_background">园区基本信息登记</span>
      </div>
      <el-form>
        <el-form-item class="df_ac">
          <span class="form_item_lw">园区名称：</span
          ><el-input style="width: 428px;"></el-input>
        </el-form-item>
        <el-form-item>
          <span class="form_item_lw">地址：</span
          ><el-input style="width: 1050px;"></el-input>
        </el-form-item>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">业主方名称：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">运营方名称：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">所属街道：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">是否具有房产证：</span
            ><el-checkbox></el-checkbox>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">总建筑面积（平方米）：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">楼层数目：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">大厦负责人：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">大厦负责人电话：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">大厦联系人：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>

          <el-form-item>
            <span class="form_item_rw">办公电话：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">手机号码：</span
            ><el-input style="width: 275px;"></el-input>
          </el-form-item>
        </div>
        <el-form-item>
          <span class="form_item_lw">简介：</span>
          <el-input type="textarea" style="width: 1050px;"></el-input>
        </el-form-item>
        <el-form-item>
          <span class="form_item_lw">发展方向：</span>
          <el-input type="textarea" style="width: 1050px;"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div class="bgfff br5 h88 df df_jr ac">
      <el-button class="btn mr20">确定</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "HgsTest",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}

::v-deep .el-button {
  width: 100px;
  height: 40px;
  background: #343434;
  color: #fff;
}
</style>
