<template>
  <div>
    公告
  </div>
</template>

<script>
export default {
  name: "HgsIndex",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped></style>
