<template>
  <div>
    <Table
      :cols="columns"
      :search="'teamName,teamType,artificialPerson,artificialPhone,import'"
      :operation="'check,add,edit,del,import,pager'"
      @searchTrigger="search"
      @operationTrigger="operation"
    ></Table>
  </div>
</template>

<script>
import Table from "@/components/indexTable";
export default {
  name: "HgsIndex",
  components: {
    Table,
  },
  data() {
    return {
      columns: [
        {
          l: "团队名称",
          p: "teamName",
          w: null,
        },
        {
          l: "团队类型",
          p: "teamType",
          w: null,
        },
        {
          l: "法人代表",
          p: "artificialPerson",
          w: null,
        },
        {
          l: "法人电话",
          p: "artificialPhone",
          w: null,
        },
        {
          l: "经办人姓名",
          p: "transactorName",
          w: null,
        },
        {
          l: "经办人电话",
          p: "transactorPhone",
          w: null,
        },
      ],
    };
  },

  mounted() {},

  methods: {
    search(form) {
      console.log("searchForm from indexTable", form);
    },
    operation(data) {
      console.log("operation data from indexTable", data);
    },
  },
};
</script>

<style lang="scss" scoped></style>
