<template>
  <div>
    <div class="df">
      <div class="f1 df bgfff fs18">
        <div class="f1 tac p_tb10 border_ active">企业基本信息</div>
        <div class="f1 tac p_tb10 border_">项目主要联系人</div>
        <div class="f1 tac p_tb10 border_">创业人及管理团队</div>
        <div class="f1 tac p_tb10 border_">预计可实现经济</div>
        <div class="f1 tac p_tb10 border_">累计技术指标</div>
        <div class="f1 tac p_tb10 border_">创建人信息</div>
        <div class="f1 tac p_tb10 border_">企业股东</div>
        <div class="f1 tac p_tb10 border_">核心成员</div>
      </div>
      <div class="ml10">
        <el-button v-if="false" @click="addShareholder">新增股东</el-button>
        <el-button @click="addPerson">新增成员</el-button>
      </div>
    </div>

    <div v-if="false">
      <companyBasicMsg />
    </div>

    <div v-if="false">
      <programContacts />
    </div>

    <div v-if="false">
      <enterAndTeam />
    </div>

    <div v-if="false">
      <economic />
    </div>
    <div v-if="false">
      <founder />
    </div>

    <el-table
      v-if="false"
      class="mb20 bgfff p30 br5 pb118 mt20"
      ref="table"
      :data="pData"
      style="width: 100%"
      align="center"
      :header-cell-style="{ background: '#F0F1F3', color: '#656565' }"
      height="100px"
    >
      <el-table-column type="selection" width="55"> </el-table-column>
      <el-table-column
        v-for="(col, index) in cols1"
        :key="index"
        :prop="col.p"
        :label="col.l"
        align="center"
      >
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template scope="row">
          <div class="df_center">
            <img
              class="mr12"
              src="@/assets/icon/check.svg"
              @click="action(row)"
              alt=""
            />
            <img
              class="mr12"
              src="@/assets/icon/edit.png"
              @click="action(row)"
              alt=""
            />
            <img
              class="mr12"
              src="@/assets/icon/del.png"
              @click="action(row)"
            />
          </div>
        </template>
      </el-table-column>
    </el-table>

    <el-table
      class="mb20 bgfff p30 br5 pb118 mt20"
      ref="table"
      :data="sData"
      style="width: 100%"
      align="center"
      :header-cell-style="{ background: '#F0F1F3', color: '#656565' }"
      height="100px"
    >
      <el-table-column type="selection" width="55"> </el-table-column>
      <el-table-column
        v-for="(col, index) in cols2"
        :key="index"
        :prop="col.p"
        :label="col.l"
        align="center"
      >
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template scope="row">
          <div class="df_center">
            <img
              class="mr12"
              src="@/assets/icon/check.svg"
              @click="action(row)"
              alt=""
            />
            <img
              class="mr12"
              src="@/assets/icon/edit.png"
              @click="action(row)"
              alt=""
            />
            <img
              class="mr12"
              src="@/assets/icon/del.png"
              @click="action(row)"
            />
          </div>
        </template>
      </el-table-column>
    </el-table>

    <div class="bgfff br5 h88 df df_jr ac">
      <el-button class="btn mr20">下一步</el-button>
    </div>

    <el-dialog
      title="新增企业股东"
      :visible.sync="shareholderDialog"
      width="30%"
    >
      <div class="title_line_border mb30">
        <span class="title_background_">基本信息</span>
      </div>
      <div class="p10 mt20">
        <el-form>
          <el-form-item label="经济形态：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <el-form-item label="股东名称：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <el-form-item label="所占股份比例：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <el-form-item label="投资方式：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisible = false"
          >取 消</el-button
        >
        <el-button type="primary" @click="dialogVisible = false"
          >确 定</el-button
        >
      </span>
    </el-dialog>

    <el-dialog title="新增核心成员" :visible.sync="personDialog" width="50%">
      <div class="p10">
        <el-form>
          <div class="title_line_border mb10">
            <span class="title_background_">基本信息</span>
          </div>
          <el-form-item label="经济形态：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <el-form-item label="股东名称：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <div class="title_line_border mb10">
            <span class="title_background_">基本信息</span>
          </div>
          <el-form-item label="所占股份比例：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
          <el-form-item label="投资方式：">
            <el-input style="width: 180px;"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisible = false"
          >取 消</el-button
        >
        <el-button type="primary" @click="dialogVisible = false"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import companyBasicMsg from "./form/companyBasicMsg";
import programContacts from "./form/programContacts";
import enterAndTeam from "./form/enterAndTeam";
import economic from "./form/economic";
import founder from "./form/founder";
export default {
  name: "HgsLog",
  components: {
    companyBasicMsg,
    programContacts,
    enterAndTeam,
    economic,
    founder,
  },
  data() {
    return {
      activeName: "",
      shareholderDialog: false,
      personDialog: false,
      cols1: [
        {
          l: "股东名称",
          p: "",
          w: "",
        },
        {
          l: "经济形态",
          p: "",
          w: "",
        },
        {
          l: "所占股份比例",
          p: "",
          w: "",
        },
        {
          l: "投资方式",
          p: "",
          w: "",
        },
      ],
      cols2: [
        {
          l: "团队名称",
          p: "",
          w: "",
        },
        {
          l: "团队类型",
          p: "",
          w: "",
        },
        {
          l: "法人代表",
          p: "",
          w: "",
        },
        {
          l: "法人电话",
          p: "",
          w: "",
        },
        {
          l: "经办人姓名",
          p: "",
          w: "",
        },
        {
          l: "经办人电话",
          p: "",
          w: "",
        },
      ],
      sData: [],
      pData: [],
    };
  },

  mounted() {},

  methods: {
    addShareholder() {
      this.shareholderDialog = true;
    },
    addPerson() {
      this.personDialog = true;
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .el-tabs__content {
  background-color: #fff;
}

::v-deep .el-button {
  width: 100px;
  height: 40px;
  background: #343434;
  color: #fff;
}
</style>
