<template>
  <div>
    草稿栏
    <Table :type="'draft'" :cols="columns" @operation="action" />
  </div>
</template>

<script>
import Table from "@/components/indexTable";
export default {
  name: "HgsDraft",
  components: {
    Table,
  },

  data() {
    return {
      columns: [
        {
          p: "title",
          l: "序号",
          w: "",
        },
        {
          p: "title",
          l: "标题",
          w: "",
        },
        {
          p: "type",
          l: "类型",
          w: "",
        },
        {
          p: "postTime",
          l: "发起时间",
          w: "",
        },
        {
          p: "state",
          l: "状态",
          w: "",
        },
      ],
    };
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped></style>
