<template>
  <div>
    目标客户管理
    <router-link to="/empty_house/customer_action/new_log"
      >新建登记</router-link
    >
    <Table :type="'customer'" :cols="gardenCols" @operation="action" />
  </div>
</template>

<script>
import Table from "./../indexTable";
export default {
  name: "HgsIndex",
  components: {
    Table,
  },
  data() {
    return {
      gardenCols: [
        {
          p: "company",
          l: "企业名称",
          w: "",
        },
        {
          p: "contact",
          l: "联系方式",
          w: "",
        },
        {
          p: "houseType",
          l: "房屋类型",
          w: "",
        },
        {
          p: "floor",
          l: "楼层",
          w: "",
        },
        {
          p: "targetArea",
          l: "意向面积",
          w: "",
        },
        {
          p: "direction",
          l: "朝向",
          w: "",
        },
        {
          p: "price",
          l: "价格",
          w: "",
        },
      ],
    };
  },

  mounted() {},

  methods: {
    action(type) {
      console.log("action from gardenTable", type);
    },
  },
};
</script>

<style lang="scss" scoped></style>
