<template>
  <div>
    <div class=" bgfff plr180 br5 pb118 oh">
      <div class="df_center mt30">
        <span class="target_customer_log">目标客户登记表</span>
      </div>

      <el-form>
        <div class="title_line_border mb30 mt30">
          <span class="title_background">订单信息</span>
        </div>
        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">房屋类型：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <span class="form_item_lw">楼层：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
          <el-form-item>
            <span class="form_item_lw">朝向：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>

        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">面积：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <span class="form_item_lw">价格：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
          <el-form-item>
            <span class="form_item_lw">楼宇新旧：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>

        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">是否有电梯：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <span class="form_item_lw">意向来源：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>

        <div class="df">
          <el-form-item>
            <span class="form_item_lw">装修要求：</span>
            <el-input type="textarea" style="width: 780px;"></el-input>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item>
            <span class="form_item_lw">其他要求：</span>
            <el-input type="textarea" style="width: 780px;"></el-input>
          </el-form-item>
        </div>

        <div class="title_line_border mb30 mt30">
          <span class="title_background">客户信息</span>
        </div>
        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">公司名称：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <span class="form_item_lw">联系人：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
          <el-form-item>
            <span class="form_item_lw">联系方式：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">E-mail：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>

          <el-form-item>
            <span class="form_item_lw">企业类型：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
          <el-form-item>
            <span class="form_item_lw">所属行业：</span>

            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>
        <div class="df">
          <el-form-item class="">
            <span class="form_item_lw line_input">公司人数：</span>
            <div class="line_input">
              <el-input style="width: 150px;"></el-input>
            </div>
          </el-form-item>
        </div>
      </el-form>
    </div>
    <div class="bgfff br_b_lr h88 df df_jr ac">
      <!-- <el-button class="btn mr20">取消</el-button> -->
      <el-button type="primary" class=" mr20">确认</el-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "HgsTest",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}

/* ::v-deep .el-button {
  width: 100px;
  height: 40px;
  background: #343434;
  color: #fff;
} */
.line_input ::v-deep .el-input__inner {
  border: 0;
  border-radius: 0;
  height: 30px;
  border-bottom: 1px solid #6a6a6a;
}
</style>
