<template>

  <el-dialog
    class="abow_dialog"
    :append-to-body="true"
    :modal-append-to-body="appendToBody"
    title="组织"
    width="40%"
    top="10vh"
    :close-on-click-modal="false"
    :visible.sync="visible"
    :show="show"
    @close="$emit('update:show', false)"
  >
    <el-alert type="warning" title="如果当前的维度下面没用任何的组织，请您到组织管理模块中进行添加" style="margin-top: 10px;margin-bottom: 10px;" />

    <div style="min-height: 450px">
      <el-select v-model="queryForm.groupName" style="margin-top: 10px" @change="changeDemension">
        <el-option v-for="item in demensionData" :value="item.code" :label="item.demName" />
      </el-select>
      <Tree
        ref="tree"

        :show-checkbox="true"
        :check-strictly="true"
        :check-directly="true"
        :data="categoryData"
        @on-check-change="treeChange"
      />
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="confirmDialog">确 定</el-button>
      <el-button @click="visible = false">取 消</el-button>

    </span>
  </el-dialog>
</template>
<style  scoped>
  /* 让方形复选框变成圆形单选框样式，最好在树组件外套一个父盒子，在样式前加父级选择器，以免影响其他树组件*/
  .ivu-checkbox-inner {
    border-radius: 50%;
  }
  .zZindex {
    z-index:3000 !important;
  }
</style>
<script>
import {
  getUser,
  getRoleTree,
  getRoleFilter,
  getDemension,
  getOrgTree,
  getOrgFilter,
  getOrgPost,
  getPostFilter,
  getRoleNotUnderUser,
  getAllUser,
  getDemensionTypesByKey,
  getDemensionList
} from '@/api/uc'

export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    onOk: { // 定义onOK属性
      type: Function
    },
    existData: Array,
    nodeIndex: {
      type: Number,
      default: 0
    },
    alias: {
      type: String,
      default: 'agree'
    },
    roleCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      demensionData: [],
      categoryData: [],
      queryForm: {
        groupId: '',
        code: '',
        groupName: null,
        page: 0,
        limit: 10
      },
      visible: this.show,
      appendToBody: false,
      curentTableData: [],
      index: 1,
      roleDefaultProps: {
        children: 'childList',
        label: 'name'
      },
      orgDefaultProps: {
        children: 'children',
        label: 'deptName'
      },
      positionDefaultProps: {
        children: 'children',
        label: 'posName'
      },
      activiteCode: '',
      serviceVal: '',
      activePanel: '',
      tableHeight: 420,
      tableMinHeight: 484,
      userTotal: 0,
      currentChoose: '',
      orgModel: '',
      positionModel: '',
      roleData: [],
      orgData: [],
      positionDemension: [],
      orgDemension: [],
      queryForm: {
        page: 1,
        length: 10,
        name: '',
        code: '',
        account: '',
        whereSql: ''
      },
      showTableColumns: [
        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '操作', //
          key: 'id', //
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  icon: 'ivu-icon-ios-trash'
                },
                style: {
                  display: 'flex',
                  'justify-content': 'center'
                },
                on: {
                  click: (index, data) => {
                    if (this.showTableData) {
                      this.showTableData.splice(params.index, 1)
                      this.$nextTick(() => {
                        var objData = this.$refs.selection.$refs.tbody.objData
                        var leftData = []
                        for (var obj in objData) {
                          leftData.push(objData[obj])
                        }
                        for (var i = 0; i < leftData.length; i++) {
                          if (leftData[i].userNo == params.row.userNo) {
                            this.$refs.selection.$refs.tbody.objData[i]._isChecked = false

                            break
                          }
                        }
                      })
                    }
                  }
                }
              }, '删除')
            ])
          }
        }
      ],

      tableColumns: [
        {
          type: 'selection',
          width: 70,
          align: 'center'
        },

        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '工号',
          key: 'userNo'
        },
        {
          title: '账户',
          key: 'account'
        },
        {
          title: '手机号',
          key: 'mobile'
        }
      ],
      tableData: [],
      showTableData: []
    }
  },
  watch: {
    show() {
      if (this.show) {
        this.queryForm.code = this.roleCode
        this.getDemensionList(this.roleCode)
        this.visible = this.show
      }
    }
  },
  methods: {
    treeChange(arr, obj) {
      // 清空所有已选中的
      arr.forEach(item => {
        item.checked = false
      })
      // 只选中最后一次选中的
      obj.checked = true
    },
    mount() {
    },
    created() {
    },
    reset: function() {
      this.queryForm.name = ''
      this.queryForm.account = ''
      this.queryForm.whereSql = ''

      this.getAllUser()
    },
    search: function() {
      var whereSql = ''
      if (this.queryForm.name) {
        whereSql += " and FULLNAME like '%" + this.queryForm.name + "%'"
      }
      if (this.queryForm.account) {
        whereSql += " and ACCOUNT like '%" + this.queryForm.account + "%'"
      }

      this.queryForm.whereSql = whereSql

      this.getAllUser()
    },
    changePanelUser: function(page) {
      this.queryForm.page = page
      this.getAllUser()
    },
    cancelSelectionChange: function(selection, row) {
      var existData = this.remove(row.userNo)
      this.showTableData = existData
    },
    operateTable: function(selection) {
      var array = this.showTableData.concat(selection)
      var newArray = this.unique(array)
      this.showTableData = newArray
    },
    selectionOnChange: function(selection, row) {
      this.operateTable(selection)
    },
    unique(arr) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return arr.filter((arr) => !res.has(arr.userNo) && res.set(arr.userNo, 1))
    },
    remove(userNo) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return this.showTableData.filter((arr) => !(arr.userNo == userNo))
    },
    exist(userNo) { // 根据唯一标识no来对数组进行过滤
      if (this.showTableData) {
        return this.showTableData.filter((arr) => (arr.userNo == userNo))
      }
    },

    selectAll: function(selection) {
      this.operateTable(selection)
      this.curentTableData = selection
    },
    selectAllCancel: function(selection, row) {
      var select = this.$refs.selection.data
      if (select) {
        for (var i = 0; i < select.length; i++) {
          this.showTableData = this.remove(select[i].userNo)
        }
      }
    },
    changeDemension: function(code) {
      this.getTypesByKeyAction(code)
    },
    getTypesByKeyAction: function(code) {
      getDemensionTypesByKey(code).then((response) => {
        var data = response.data
        if (data.children.length == 0) {
          // 维度信息
        }
        this.categoryData = []
        this.categoryData.push(data)
      })
    },
    getDemensionList: function() {
      getDemensionList(this.demensionForm).then((response) => {
        this.demensionData = response.data
        var isDefault = true
        for (var value of response.data) {
          if (value.defaultVal) {
            isDefault = false
            this.queryForm.groupName = value['demName']
            this.getTypesByKeyAction(value['code'])
            this.queryForm.code = value['code']
            break
          }
        }
        if (isDefault) {
          // 没有默认的
          if (this.demensionData.length > 0) {
            var first = this.demensionData[0]
            this.queryForm.groupName = first['demName']
            this.getTypesByKeyAction(first['code'])
            this.queryForm.code = first['code']
            this.getJobListByDemension()
          }
        }
      })
    },
    confirmDialog() {
      if (this.onOk) {
        var checkDatas = this.$refs.tree.getCheckedNodes()
        if (checkDatas) {
          var checkData = checkDatas[0]
          this.visible = false
          this.onOk(checkData)
        }
      }
    },
    changePanel: function(data) {
    }
  },
  mount() {
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  }
}
</script>
<style lang="scss">

</style>
