<template>

  <el-dialog
    class="abow_dialog"
    :append-to-body="true"
    :modal-append-to-body="appendToBody"
    title="选择资源"
    width="40%"
    top="10vh"
    :visible.sync="visible"
    :show="show"
    @close="$emit('update:show', false)"
  >
    <div style="min-height: 450px">
      <Tree
        ref="tree"
        show-checkbox

        :data="categoryData"
      />
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="confirmDialog">确 定</el-button>
      <el-button @click="visible = false">取 消</el-button>

    </span>
  </el-dialog>
</template>
<style>
</style>
<script>
import {
  getResource
} from '@/api/uc'

export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    onOk: { // 定义onOK属性
      type: Function
    },
    existData: Array,
    nodeIndex: {
      type: Number,
      default: 0
    },
    alias: {
      type: String,
      default: 'agree'
    },
    roleCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      demensionData: [],
      categoryData: [],
      map: {
        id: 'menuId',
        parentId: 'parentId',
        code: 'code',
        name: 'name',
        children: 'children'
      },
      expand: true,
      queryForm: {
        groupId: '',
        code: '',
        groupName: null,
        page: 0,
        limit: 10
      },
      visible: this.show,
      appendToBody: false,
      curentTableData: [],
      index: 1,
      roleDefaultProps: {
        children: 'childList',
        label: 'name'
      },
      orgDefaultProps: {
        children: 'children',
        label: 'deptName'
      },
      positionDefaultProps: {
        children: 'children',
        label: 'posName'
      },
      activiteCode: '',
      serviceVal: '',
      activePanel: '',
      tableHeight: 420,
      tableMinHeight: 484,
      userTotal: 0,
      currentChoose: '',
      orgModel: '',
      positionModel: '',
      roleData: [],
      orgData: [],
      positionDemension: [],
      orgDemension: [],
      queryForm: {
        page: 1,
        length: 10,
        name: '',
        code: '',
        account: '',
        whereSql: ''
      },
      tableData: [],
      showTableData: []
    }
  },
  watch: {
    show() {
      if (this.show) {
        this.queryForm.code = this.roleCode
        this.getResource(this.roleCode)
        this.visible = this.show
      }
    }
  },
  methods: {
    treeChange(arr, obj) {
      // 清空所有已选中的
      arr.forEach(item => {
        item.checked = false
      })
      // 只选中最后一次选中的
      obj.checked = true
    },
    mount() {
    },
    created() {
    },
    reset: function() {
      this.queryForm.name = ''
      this.queryForm.account = ''
      this.queryForm.whereSql = ''

      this.getAllUser()
    },
    search: function() {
      var whereSql = ''
      if (this.queryForm.name) {
        whereSql += " and FULLNAME like '%" + this.queryForm.name + "%'"
      }
      if (this.queryForm.account) {
        whereSql += " and ACCOUNT like '%" + this.queryForm.account + "%'"
      }

      this.queryForm.whereSql = whereSql

      this.getAllUser()
    },
    changePanelUser: function(page) {
      this.queryForm.page = page
      this.getAllUser()
    },
    cancelSelectionChange: function(selection, row) {
      var existData = this.remove(row.userNo)
      this.showTableData = existData
    },
    operateTable: function(selection) {
      var array = this.showTableData.concat(selection)
      var newArray = this.unique(array)
      this.showTableData = newArray
    },
    selectionOnChange: function(selection, row) {
      this.operateTable(selection)
    },
    unique(arr) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return arr.filter((arr) => !res.has(arr.userNo) && res.set(arr.userNo, 1))
    },
    remove(userNo) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return this.showTableData.filter((arr) => !(arr.userNo == userNo))
    },
    exist(userNo) { // 根据唯一标识no来对数组进行过滤
      if (this.showTableData) {
        return this.showTableData.filter((arr) => (arr.userNo == userNo))
      }
    },

    selectAll: function(selection) {
      this.operateTable(selection)
      this.curentTableData = selection
    },
    selectAllCancel: function(selection, row) {
      var select = this.$refs.selection.data
      if (select) {
        for (var i = 0; i < select.length; i++) {
          this.showTableData = this.remove(select[i].userNo)
        }
      }
    },
    changeDemension: function(code) {
      this.getTypesByKeyAction(code)
    },
    getTypesByKeyAction: function(code) {
      getDemensionTypesByKey(code).then((response) => {
        var data = response.data
        if (data.children.length == 0) {
          // 维度信息
        }
        this.categoryData = []
        this.categoryData.push(data)
      })
    },
    getResource: function() {
      getResource(this.queryForm.code).then((response) => {
        this.categoryData = response.data
      })
    },
    confirmDialog() {
      if (this.onOk) {
        this.visible = false
        var checkDatas = this.$refs.tree.getCheckedNodes()
        this.onOk(checkDatas)
      }
    }
  },
  mount() {
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  }
}
</script>
<style lang="scss">

</style>
