<template>

  <el-dialog
    class="abow_dialog"
    :append-to-body="true"
    :modal-append-to-body="appendToBody"
    title="用户查询"
    width="80%"
    top="10vh"
    :visible.sync="visible"
    :show="show"
    @close="$emit('update:show', false)"
  >
    <div>
      <el-alert class="no-print" title="已是该用户的下属用户数据，不会在这里显示。" show-icon type="warning" style="margin-bottom:10px" />

      <el-form :inline="true" :model="queryForm">
        <el-form-item label=" 姓名">
          <el-input v-model="queryForm.fullname" clearable />
        </el-form-item>
        <el-form-item label=" 账户">
          <el-input v-model="queryForm.account" clearable />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="default" @click="reset">重置</el-button>
        </el-form-item>
      </el-form>
      <Row>

        <Col span="17" class="no-padding border-bottom border-right boder-margin">
          <Table
            ref="selection"
            border
            highlight-row
            height="450"
            :columns="tableColumns"
            :data="tableData"
            style="padding-left: 10px;padding-top: 10px"
            @on-select-cancel="cancelSelectionChange"

            @on-select="selectionOnChange"
            @on-select-all="selectAll"
            @on-select-all-cancel="selectAllCancel"
          />
          <Page ref="pages" :total="userTotal" show-elevator style="margin-top: 3px" @on-change="changePanelUser" />
          <!--          @on-change="changePanelUser"-->
        </Col>
        <Col
          span="5"
          class="border-right border"
          style="padding-left: 10px;margin-left: 10px"
          :style="{ 'min-height': tableMinHeight+'px' }"
        >

          <Table
            ref="showTable"
            border
            highlight-row
            style="padding-top: 10px"
            height="450"
            :columns="showTableColumns"
            :data="showTableData"
          />
        </Col>
      </Row>

    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="confirmDialog">确 定</el-button>
      <el-button @click="visible = false">取 消</el-button>

    </span>
  </el-dialog>
</template>

<script>
import {
  getUser,
  getRoleTree,
  getRoleFilter,
  getDemension,
  getOrgTree,
  getOrgFilter,
  getOrgPost,
  getPostFilter,
  getRoleNotUnderUser,
  getAllUser,
  getUserNotUnderListAll
} from '@/api/uc'

export default {
  props: {
    show: {
      type: Boolean,
      default: false
    },
    onOk: { // 定义onOK属性
      type: Function
    },
    existData: Array,
    nodeIndex: {
      type: Number,
      default: 0
    },
    alias: {
      type: String,
      default: 'agree'
    },
    orgCode: {
      type: String,
      default: ''
    },
    postCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      visible: this.show,
      appendToBody: false,
      curentTableData: [],
      index: 1,
      roleDefaultProps: {
        children: 'childList',
        label: 'name'
      },
      orgDefaultProps: {
        children: 'children',
        label: 'deptName'
      },
      positionDefaultProps: {
        children: 'children',
        label: 'posName'
      },
      activiteCode: '',
      serviceVal: '',
      activePanel: '',
      tableHeight: 420,
      tableMinHeight: 484,
      userTotal: 0,
      currentChoose: '',
      orgModel: '',
      positionModel: '',
      roleData: [],
      orgData: [],
      positionDemension: [],
      orgDemension: [],
      queryForm: {
        page: 1,
        length: 10,
        id: '',
        code: '',
        fullname: '',
        account: '',
        whereSql: ''
      },
      showTableColumns: [
        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '操作', //
          key: 'id', //
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  icon: 'ivu-icon-ios-trash'
                },
                style: {
                  display: 'flex',
                  'justify-content': 'center'
                },
                on: {
                  click: (index, data) => {
                    if (this.showTableData) {
                      this.showTableData.splice(params.index, 1)
                      this.$nextTick(() => {
                        var objData = this.$refs.selection.$refs.tbody.objData
                        var leftData = []
                        for (var obj in objData) {
                          leftData.push(objData[obj])
                        }
                        for (var i = 0; i < leftData.length; i++) {
                          if (leftData[i].userNo == params.row.userNo) {
                            this.$refs.selection.$refs.tbody.objData[i]._isChecked = false

                            break
                          }
                        }
                      })
                    }
                  }
                }
              }, '删除')
            ])
          }
        }
      ],

      tableColumns: [
        {
          type: 'selection',
          width: 70,
          align: 'center'
        },

        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '工号',
          key: 'userNo'
        },
        {
          title: '账户',
          key: 'account'
        },
        {
          title: '手机号',
          key: 'mobile'
        }
      ],
      tableData: [],
      showTableData: []
    }
  },
  watch: {
    show() {
      // 分页初始化为第一页
      this.$nextTick(function() {
        this.$refs['pages'].currentPage = 1
      })
      if (this.show) {
        this.queryForm.id = this.orgCode
        this.queryForm.code = this.postCode
        this.queryForm.page = 1
        this.showTableData = []

        this.getAllUser()
        this.visible = this.show
      } else {
        this.resetQuery()
      }
    }
  },
  methods: {
    mount() {
    },
    created() {
    },
    resetQuery: function() {
      this.queryForm.fullname = ''
      this.queryForm.account = ''
      this.queryForm.whereSql = ''
      this.queryForm.page = 1
    },
    reset: function() {
      this.resetQuery()
      this.getAllUser()
    },
    search: function() {
      this.getAllUser()
    },
    changePanelUser: function(page) {
      this.queryForm.page = page
      this.getAllUser()
    },
    cancelSelectionChange: function(selection, row) {
      var existData = this.remove(row.userNo)
      this.showTableData = existData
    },
    operateTable: function(selection) {
      var array = this.showTableData.concat(selection)
      var newArray = this.unique(array)
      this.showTableData = newArray
    },
    selectionOnChange: function(selection, row) {
      this.operateTable(selection)
    },
    unique(arr) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return arr.filter((arr) => !res.has(arr.userNo) && res.set(arr.userNo, 1))
    },
    remove(userNo) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return this.showTableData.filter((arr) => !(arr.userNo == userNo))
    },
    exist(userNo) { // 根据唯一标识no来对数组进行过滤
      if (this.showTableData) {
        return this.showTableData.filter((arr) => (arr.userNo == userNo))
      }
    },

    selectAll: function(selection) {
      this.operateTable(selection)
      this.curentTableData = selection
    },
    selectAllCancel: function(selection, row) {
      var select = this.$refs.selection.data
      if (select) {
        for (var i = 0; i < select.length; i++) {
          this.showTableData = this.remove(select[i].userNo)
        }
      }
    },
    getAllUser: function() {
      getUserNotUnderListAll(this.queryForm).then((response) => {
        if (response.code == 0) {
          this.tableData = response.page.aaData

          //  this.$refs.selection.toggleSelect(0);

          this.userTotal = parseInt(response.page.total)
          this.$nextTick(() => {
            var objData = this.$refs.selection.$refs.tbody.objData
            var leftData = []
            for (var obj in objData) {
              leftData.push(objData[obj])
            }
            if (leftData) {
              for (var i = 0; i < leftData.length; i++) {
                if (this.exist(leftData[i].userNo) && this.exist(leftData[i].userNo).length > 0) {
                  this.$refs.selection.$refs.tbody.objData[i]._isChecked = true
                }
              }
            }
          })
        }
      })
    },
    confirmDialog() {
      if (this.onOk) {
        this.visible = false

        this.onOk(this.showTableData)
        this.showTableData = []
      }
    },
    changePanel: function(data) {
    }
  },
  mount() {
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  }
}
</script>
<style lang="scss">

</style>
