<template>
  <div class="mb20 bgfff p30 br5 pb118 mt20">
    <div class="title_line_border mb30">
      <span class="title_background">企业基本信息</span>
    </div>
    <el-form>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">申请编号：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">申请企业：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">企业名称：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">成立时间：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">注册地点：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">注册资金：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">业主方名称：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">运营方名称：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">企业性质：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">员工总数：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">企业类型：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">技术领域：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">法定代表人：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">法定电话：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">技术来源：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">设备来源：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">办公场地：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10">单位：平方米</span>
        </el-form-item>

        <el-form-item class="ml225">
          <span class="form_item_lw_brooder">研发场地：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10">单位：平方米</span>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">拟入住时间：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">拟孵化年限：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">项目简况：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">其他需求：</span
          ><el-input style="width: 275px;"></el-input>
        </el-form-item>
      </div>
      <el-form-item>
        <span class="form_item_lw_brooder">主要产品：</span>
        <el-input type="textarea" style="width: 960px;"></el-input>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "HgsCompanybasicmsg",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}
</style>
