<template>
  <div class="mb20 bgfff p30 br5 pb118 mt20">
    <div class="title_line_border mb30">
      <span class="title_background">企业基本信息</span>
    </div>
    <el-form>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_economic">二年度营收：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10 descri">第一年度营业收入，单位：万元</span>
        </el-form-item>

        <el-form-item class="ml45">
          <span class="form_item_lw_economic">二年度营收：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10 descri">第二年度营业收入，单位：万元</span>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_economic">一年度利税：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10 descri">第一年度实现利税，单位：万元</span>
        </el-form-item>

        <el-form-item class="ml45">
          <span class="form_item_lw_economic">二年度利税：</span
          ><el-input style="width: 275px;"></el-input>
          <span class="ml10 descri">第二年度实现利税，单位：万元</span>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "HgsCompanybasicmsg",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}
</style>
