<template>
  <div class="mb20 bgfff p30 br5 pb118 mt20">
    <div class="title_line_border mb30">
      <span class="title_background">创建人信息</span>
    </div>
    <el-form>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">创建人：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">部门：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">岗位：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">创建日期：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">工程中心 ：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "HgsCompanybasicmsg",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}
</style>
