<template>
  <div class="mb20 bgfff p30 br5 pb118 mt20">
    <div class="title_line_border mb30">
      <span class="title_background">项目主要联系人</span>
    </div>
    <el-form>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">姓名：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">身份证号：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">性别：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">联系电话：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">民族：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">政治面貌：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">拟定职位：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">是否全职：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">毕业院校：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>

        <el-form-item class="ml320">
          <span class="form_item_lw_brooder">专业：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
      <div class="df">
        <el-form-item>
          <span class="form_item_lw_brooder">邮箱地址：</span
          ><el-input style="width: 275px;" placeholder="单行输入"></el-input>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "HgsCompanybasicmsg",

  data() {
    return {};
  },

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: center;
}
</style>
