<template>
  <div class="main-div">
    <Row>
      <Col span="24">
        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row type="flex" justify="start" style="margin-left: -40px">
              <el-form
                :inline="true"
                :model="queryForm"
                class="demo-form-inline"
                label-width="80px"
                inline
                size="mini"
              >
                <el-form-item label="姓名">
                  <el-input v-model="queryForm.fullname" clearable />
                </el-form-item>
                <el-form-item label="手机号">
                  <el-input v-model="queryForm.mobile" clearable />
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>
            </el-row>

            <el-button
              type="primary"
              style="margin-bottom: 10px"
              @click="add"
            ><Icon type="ios-add" /> 添加</el-button>
            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    prop="fullname"
                    label="姓名"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column prop="userNo" label="编码" />
                  <el-table-column
                    prop="account"
                    label="登录名称"
                    width="200"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="email"
                    label="邮箱"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="mobile"
                    label="手机号"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="sex"
                    label="性别"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.sex == 0" type="success">男</span>
                      <span v-else type="danger">女</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="status"
                    label="状态"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag
                        v-if="scope.row.status == 0"
                        type="danger"
                      >禁用</el-tag>
                      <el-tag v-else type="success">正常</el-tag>
                    </template>
                  </el-table-column>

                  <el-table-column prop="createTime" label="操作">
                    <template slot-scope="scope">
                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-edit"
                        @click="edit(scope.row)"
                      />
                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-delete"
                        @click="deleted(scope.row)"
                      />
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>
</template>

<script>
// import {getAllRole,removeRole,getUser,removeUser} from "@/api/uc";
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      queryForm: {
        page: 1,
        length: 10,
        name: '',
        fullname: '',
        mobile: ''
      },
      categoryData: []
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.getData()
  },
  methods: {
    userList: function(data) {
      this.$router.push({
        name: 'role_userList',
        query: { t: new Date().getTime(), code: data.code }
      })
    },
    deleted: function(data) {
      var ids = []
      ids.push(data.id)
      removeUser({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.getData()
        } else {
          this.$message({
            duration: '800',
            message: response.msg,
            type: 'warning',
            customClass: 'zZindex'
          })
        }
      })
    },
    edit: function(data) {
      this.$router.push({
        name: 'user_add',
        query: { t: new Date().getTime(), id: data.id }
      })
    },
    add: function() {
      this.$router.push({
        name: 'user_add',
        query: { t: new Date().getTime() }
      })
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },

    getData: function() {
      getUser(this.queryForm).then((response) => {
        this.tableData = response.page.aaData
        this.total = parseInt(response.page.total)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.page = 1
      this.getData()
    },
    reset() {
      this.queryForm.fullname = ''
      this.queryForm.mobile = ''
      this.queryForm.page = 1
      this.getData()
    }
  }
}
</script>
<style lang="scss" scoped>
.task-card {
  margin-top: 10px;
}
.ivu-input-with-suffix {
  padding-right: 0px !important;
}
.main-div {
  background-color: #f3f3f3 !important;
}
</style>
