<!-- 构造表单拖拽页面的容器 -->
<template>
  <el-container class="fm2-container" :style="{height: scrollerHeight}">
    <el-main class="fm2-main form-design">
      <el-container>
        <el-aside style="background-color: white;width:250px">

          <div class="components-list">
            <div class="widget-cate">基础字段</div>
            <draggable
              tag="ul"
              :list="basicComponents"
              v-bind="{group:{ name:'people', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}"
              :move="handleMove"
              @end="handleMoveEnd"
              @start="handleMoveStart"
            >

              <li
                v-for="(item, index) in basicComponents"
                :key="index"
                class="form-edit-widget-label"
                :class="{'no-put': item.type == 'divider'}"
              >
                <a>

                  <i class="icon iconfont" :class="item.icon" />

                  <span>{{ item.name }}</span>
                </a>
              </li>
            </draggable>

            <div class="widget-cate">面板控件</div>
            <draggable
              tag="ul"
              :list="advanceComponents"
              v-bind="{group:{ name:'people', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}"
              :move="handleMove"
              @end="handleMoveEnd"
              @start="handleMoveStart"
            >

              <li
                v-for="(item, index) in advanceComponents"
                :key="index"
                class="form-edit-widget-label"
                :class="{'no-put': item.type == 'table'}"
              >
                <a>
                  <i class="icon iconfont" :class="item.icon" />
                  <span>{{ item.name }}</span>
                </a>
              </li>
            </draggable>
            <div class="widget-cate">导航</div>
            <draggable
              tag="ul"
              :list="navigationComponents"
              v-bind="{group:{ name:'people', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}"
              :move="handleMove"
              @end="handleMoveEnd"
              @start="handleMoveStart"
            >

              <li v-for="(item, index) in navigationComponents" :key="index" class="form-edit-widget-label no-put">
                <a>
                  <i class="icon iconfont" :class="item.icon" />
                  <span>{{ item.name }}</span>
                </a>
              </li>
            </draggable>

            <div class="widget-cate">布局字段</div>
            <draggable
              tag="ul"
              :list="layoutComponents"
              v-bind="{group:{ name:'people', pull:'clone',put:false},sort:false, ghostClass: 'ghost'}"
              :move="handleMove"
              @end="handleMoveEnd"
              @start="handleMoveStart"
            >

              <li v-for="(item, index) in layoutComponents" :key="index" class="form-edit-widget-label no-put">
                <a>
                  <i class="icon iconfont" :class="item.icon" />
                  <span>{{ item.name }}</span>
                </a>
              </li>
            </draggable>
          </div>

        </el-aside>
        <el-container class="center-container" direction="vertical">

          <el-main :class="{'widget-empty': widgetForm.list.length == 0}">

            <!-- 中部表单放着区域 -->
            <!-- sync 在子组件当中修改父组件的某个数据-->
            <widget-form
              v-if="!resetJson"
              ref="widgetForm"
              :data="widgetForm"
              :select.sync="widgetFormSelect"
            />
          </el-main>
        </el-container>
        <!-- 右侧字段和表单属性放置区域 -->
        <el-aside class="widget-config-container" style="background-color: white;width: 25%">
          <el-container>
            <el-header height="45px">
              <div
                class="config-tab"
                :class="{active: configTab=='widget'}"
                @click="handleConfigSelect('widget')"
              >字段属性
              </div>
              <div
                class="config-tab"
                :class="{active: configTab=='form'}"
                @click="handleConfigSelect('form')"
              >表单属性
              </div>
            </el-header>
            <el-main class="config-content">
              <!-- configTab 确定显示字段属性还是表单属性  -->
              <widget-config
                v-show="configTab=='widget'"
                :data="widgetFormSelect"
                :struct-data="widgetForm"
                @getBlockData="getBlockData(arguments)"
              />
              <form-config
                v-show="configTab=='form'"
                ref="formConfig"
                :data="widgetForm.config"
                :form="widgetForm"
                @getjson="getData($event)"
              />
              <widget-config ref="widgetConfig" @getBlockData="getBlockData($event)" />
            </el-main>
          </el-container>

        </el-aside>

      </el-container>
    </el-main>
    <el-footer height="30px" style="font-weight: 600;">Powered by
      <a target="_blank" href="">BPM-表单组件</a>
    </el-footer>
  </el-container>

</template>

<script>
import Draggable from 'vuedraggable' // vue拖动插件,拖动元素放在transition-group中
import WidgetConfig from './WidgetConfig' // 右侧 字段属性组件
import FormConfig from './FormConfig' // 右侧 表单属性组件
import WidgetForm from './WidgetForm' // 生成中间区域表单的组件
import Clipboard from 'clipboard' // 复制输入框,文本域,div元素到粘贴板中
// 所有表单的基本配置
import {
  advanceComponents,
  basicComponents,
  layoutComponents,
  navigationComponents,
  uncommonlyUsedComponents
} from './componentsConfig.js'
import request from '@/util/request.js' // ajax请求
import generateCode from './generateCode.js' // css与js的引入
import API from './router/api.js'
import { verification } from './router/verification.js'
import { isRepeat } from './router/utils.js'

export default {
  name: 'FmMakingForm',
  components: {
    Draggable,
    WidgetConfig,
    FormConfig, // 表单属性组件
    WidgetForm
  },
  props: { // 验证父组件传入数据的类型
    preview: {
      type: Boolean,
      default: false
    },
    generateCode: {
      type: Boolean,
      default: false
    },
    generateJson: {
      type: Boolean,
      default: false
    },
    upload: {
      type: Boolean,
      default: false
    },
    clearable: {
      type: Boolean,
      default: false
    }
  },

  data() { //  设置表单属性的相关字段
    return {
      basicComponents,
      layoutComponents,
      advanceComponents,
      navigationComponents,
      uncommonlyUsedComponents,

      resetJson: false,
      widgetForm: {
        list: [],
        config: {
          labelWidth: 100,
          labelPosition: 'top',
          size: 'small',
          customClass: '',
          formName: '表单名称', // 表单名称
          customStyle: '',
          customJs: '',
          jsExpand: '',
          disable: false,
          showAnnotation: false,
          formNumber: this.createOrderNo() // 表单序号
        }
      },
      configTab: 'widget', // 默认显示字段属性
      widgetFormSelect: null,

      previewVisible: false,
      jsonVisible: false,
      codeVisible: false,
      uploadVisible: false,
      remoteFuncs: {
        func_test(resolve) {
          setTimeout(() => {
            const options = [{
              id: '1',
              name: '1111'
            },
            {
              id: '2',
              name: '2222'
            },
            {
              id: '3',
              name: '3333'
            }
            ]

            resolve(options)
          }, 2000)
        },

        upload_callback(response, file, fileList) {
          // console.log('callback', response, file, fileList)
        }
      },
      widgetModels: {},
      blank: '',
      htmlTemplate: '',
      jsonTemplate: '',
      uploadEditor: null,
      jsonCopyValue: '',
      jsonClipboard: null,
      jsonEg: `{
  "list": [
    {
      "type": "grid",
      "name": "栅格布局",
      "icon": "icon-grid-",
      "columns": [
        {
          "span": 12,
          "list": [
            {
              "type": "input",
              "name": "请假",
              "icon": "icon-input",
              "options": {
                "width": "100%",
                "defaultValue": "",
                "required": false,
                "dataType": "string",
                "pattern": "",
                "placeholder": "cccc",
                "customClass": "",
                "disabled": false,
                "remoteFunc": "func_1572656611793",
                "remoteOptions": []

              },
              "novalid": {},
              "key": "1572656611793",
              "model": "day",
              "rules": [
                {
                  "type": "string",
                  "message": "请假格式不正确"
                }
              ]
            },
            {
              "type": "date",
              "name": "开始时间",
              "icon": "icon-date",
              "options": {
                "defaultValue": "",
                "readonly": false,
                "disabled": false,
                "editable": true,
                "clearable": true,
                "placeholder": "",
                "startPlaceholder": "",
                "endPlaceholder": "",
                "type": "date",
                "format": "yyyy-MM-dd",
                "timestamp": false,
                "required": false,
                "width": "",
                "customClass": "",
                "remoteFunc": "func_1572656630994",
                "remoteOptions": []
              },
              "key": "1572656719473",
              "model": "start",
              "rules": [],
              "novalid": {}
            }
          ]
        },
        {
          "span": 12,
          "list": [
            {
              "type": "input",
              "name": "请假人",
              "icon": "icon-input",
              "options": {
                "width": "100%",
                "defaultValue": "",
                "required": false,
                "dataType": "string",
                "pattern": "",
                "placeholder": "",
                "customClass": "",
                "disabled": false,
                "remoteFunc": "func_1572656647372",
                "remoteOptions": []
              },
              "novalid": {},
              "key": "1572656647372",
              "model": "user",
              "rules": [
                {
                  "type": "string",
                  "message": "请假人格式不正确"
                }
              ]
            },
            {
              "type": "date",
              "name": "结束时间",
              "icon": "icon-date",
              "options": {
                "defaultValue": "",
                "readonly": false,
                "disabled": false,
                "editable": true,
                "clearable": true,
                "placeholder": "",
                "startPlaceholder": "",
                "endPlaceholder": "",
                "type": "date",
                "format": "yyyy-MM-dd",
                "timestamp": false,
                "required": false,
                "width": "",
                "customClass": "",
                "remoteFunc": "func_1572656676710",
                "remoteOptions": []
              },
              "novalid": {},
              "key": "1572656736023",
              "model": "end",
              "rules": []
            }
          ]
        }
      ],
      "options": {
        "gutter": 0,
        "justify": "center",
        "align": "middle",
        "customClass": "",
        "remoteFunc": "func_1572656606443"
      },
      "key": "1572656606443",
      "model": "grid_1572656606443",
      "rules": []
    }
  ],
  "config": {
    "labelWidth": 100,
    "labelPosition": "right",
    "size": "small",
    "customClass": "",
	"formName":"请假流程",
	"formNumber":12323222
  }
}`
    }
  },
  computed: {
    scrollerHeight: function() {
      var innerHeight = (window.innerHeight - 46 - 50)
      if (innerHeight <= 650) {
        innerHeight = 650
      }
      return innerHeight + 'px'
    }
  },
  watch: {

    widgetForm(val) {

    }
  },
  watch: {
    widgetForm: {
      deep: true,
      handler: function(val) {
        if (val) {
          this.handlerForm(val)
        }
      }
    }
  },
  mounted() {
    // 初始化表单数据渲染
    this.getFormData()
  },
  methods: {
    validatePass(rule, info, callback) {
      verification(rule, info, callback, null)
    },
    // 菜单栏的方法
    handleOpen(key, keyPath) {
      //   console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      // console.log(key, keyPath);
    },
    getA() {

    },
    // handleGoGithub () {
    //   window.location.href = 分享牛'
    // },
    // 初始化获取表单数据
    getFormData() {

    },

    // 生成订单序列号
    createOrderNo() {
      var outTradeNo = '' // 订单号
      for (var i = 0; i < 6; i++) // 6位随机数，用以加在时间戳后面。
      {
        outTradeNo += Math.floor(Math.random() * 10)
      }
      return new Date().getTime() + outTradeNo // 时间戳，用来生成订单号。
    },
    handleConfigSelect(value) {
      // console.log(value);
      this.configTab = value
    },
    handleMoveEnd(evt) {
      // 结束的时候触发
      //	console.log('end', evt)
    },
    handleMoveStart({
      oldIndex
    }) {
    },
    handleMove() {
      return true
    },
    handlePreview() {
      const style = document.createElement('style')
      style.type = 'text/css'
      style.innerText = '.el-row--flex {\n' +
          '                    display: block ;\n' +
          '                }'

      document.getElementsByTagName('head')[0].appendChild(style)

      this.previewVisible = true
    },
    previewVisibleClose() {
      const style = document.createElement('style')
      style.type = 'text/css'
      style.innerText = '.el-row--flex {\n' +
          '                    display: flex ;\n' +
          '                }'

      document.getElementsByTagName('head')[0].appendChild(style)

      this.previewVisible = false
    },
    handleLeft() {
      var config = this.widgetForm.config
      config.labelPosition = 'left'
    },
    handleRight() {
      var config = this.widgetForm.config
      config.labelPosition = 'right'
    },
    handleTop() {
      var config = this.widgetForm.config
      config.labelPosition = 'top'
    },

    handleReset() {
      this.$refs.generateForm.reset()
    },
    getAnnotationAction: function(list, resultList) {
      list.forEach(item => {
        if (item.options) {
          resultList[item.model] = item.options.annotationContext
        } else {
          list = item
          this.getAnnotationAction(list, resultList)
        }

        if (item.tabColumns) {
          list = item.tabColumns
          this.getAnnotationAction(list, resultList)
        }
        if (item.tableColumns) {
          list = item.tableColumns
          this.getAnnotationAction(list, resultList)
        }
      })
    },

    handleTest() {
      this.$refs.generateForm.getData().then(data => {
        this.jsonVisible = true
        for (var key in data) {
          if (data[key] == undefined) {
            data[key] = ''
          }
        }
        var list = this.$refs.formConfig.form.list
        var resultList = {}
        this.getAnnotationAction(list, resultList)
        var dataObj = {}

        data['annotation'] = resultList
        this.jsonTemplate = data
        this.$nextTick(() => {
          const editor = ace.edit('jsoneditor')
          editor.session.setMode('ace/mode/json')

          if (!this.jsonClipboard) {
            this.jsonClipboard = new Clipboard('.json-btn')
            this.jsonClipboard.on('success', (e) => {
              this.$message.success('复制成功')
            })
          }
          this.jsonCopyValue = JSON.stringify(data)
        })
        this.$refs.widgetPreview.end()
      }).catch(e => {
        this.$refs.widgetPreview.end()
      })
    },

    handleGenerateJson() {
      this.jsonVisible = true
      this.jsonTemplate = this.widgetForm
      return this.widgetForm
    },

    saveJson() {
      this.jsonTemplate = this.widgetForm
      // console.log(JSON.stringify(this.widgetForm))
      const params = this.$route.query
      var id = params.id
      const param = new FormData()
      param.append('jsonStr', encodeURIComponent(JSON.stringify(this.widgetForm)))
      var allKeys = []
      this.widgetForm.list.find((item) => {
        allKeys.push(item.model)
      })
      var repeate = isRepeat(allKeys)
      if (typeof repeate === 'boolean') {
        request.post(API.prefix + '/form/design/saveJson/' + id, param, { headers: { 'content-type': 'application/x-www-form-urlencoded' }})
          .then((data) => {
            // console.log(data)
            if (data.code == 0) {
              this.$message({
                message: '保存成功',
                type: 'success'
              })
            } else {
              this.$message.error(data.msg)
            }
          }).catch(err => {
            console.log(err)
          }
          )
      } else {
        var obj = this.widgetForm.list.find((item) => { // 这里的userList就是上面遍历的数据源
          return item.model === repeate// 筛选出匹配数据
        })
        this.$message({
          message: '「' + obj.name + '」' + '重复定义多次，不能进行表单的保存操作',
          type: 'error'
        })
      }
    },

    publish() {
      this.jsonTemplate = this.widgetForm
      const params = this.$route.query
      var id = params.id
      request.get(API.prefix + '/form/design/models/publish/' + id).then(res => {
        var data = res.data
        var code = res.code
        if (code == 0) {
          this.$router.go(-1)
        } else {
          this.$message.error(res.msg)
        }
      })
    },
    handleGenerateCode() {
      this.codeVisible = true
      this.htmlTemplate = generateCode(JSON.stringify(this.widgetForm))
      this.$nextTick(() => {
        const editor = ace.edit('codeeditor')
        editor.session.setMode('ace/mode/html')
      })
    },
    handleUpload() {
      this.uploadVisible = true
      // ace web编辑器
      this.$nextTick(() => {
        this.uploadEditor = ace.edit('uploadeditor')
        this.uploadEditor.session.setMode('ace/mode/json')
      })
    },
    handleUploadJson() {
      try {
        this.setJSON(JSON.parse(this.uploadEditor.getValue()))
        this.uploadVisible = false
      } catch (e) {
        this.$message.error(e.message)
        this.$refs.uploadJson.end()
      }
    },
    handleFixedJson(data) {
      try {
        this.setJSON(JSON.parse(data))
        this.uploadVisible = false
      } catch (e) {
        this.$message.error(e.message)
        this.$refs.uploadJson.end()
      }
    },
    handleWidgetFormClear() {
      this.widgetForm = {
        list: [],
        config: {
          labelWidth: 100,
          labelPosition: 'top',
          size: 'small',
          customClass: ''
        }
      }
    },

    handleClear() {
      this.widgetForm = {
        list: [],
        config: {
          labelWidth: 100,
          labelPosition: 'right',
          size: 'small',
          customClass: ''
        }
      }
      this.$refs.formConfig.getA()

      this.widgetFormSelect = {}
    },
    getData(val) {
      var config = this.widgetForm.config
      var list = this.widgetForm.list

      for (var i = 0; i < list.length; i++) {
        list[i].options.span = parseInt(val)
      }
    },
    getBlockData(obj) {
      var val = obj[0]
      var key = obj[1]
      var list = this.widgetForm.list

      for (var i = 0; i < list.length; i++) {
        if (list[i].key == key) {
          var tableColumns = list[i].tableColumns
          for (var j = 0; j < tableColumns.length; j++) {
            tableColumns[j].options.span = parseInt(val)
          }
          break
        }
      }
    },
    getHtml() {
      return generateCode(JSON.stringify(this.widgetForm))
    },
    setJSON(json) {
      this.widgetForm = json
      if (json.list.length > 0) {
        this.handlerForm(json)
        this.widgetFormSelect = json.list[0]
      }
    },
    handleInput(val) {
      //	console.log(val)
      this.blank = val
    },
    handlerForm(val) {
      var nodeList = []
      var list = val.list
      for (var i = 0; i < list.length; i++) {
        var node = list[i]
        var node_ = {}
        node_['description'] = node.name
        node_['key'] = node.key
        node_['type'] = node.type
        node_['model'] = node.model
        node_['read'] = true
        node_['write'] = true
        node_['hidden'] = false
        nodeList.push(node_)
      }
      localStorage.setItem('nodeFormList', JSON.stringify(nodeList))
      this.$emit('widgetFormChanged', nodeList)// 自定义事件  传递值“子向父组件传值”
    }
  }
}
</script>

<style lang="scss" scoped>
  a {
    color: #333;
    text-decoration: none;
  }

  .custom1 .el-col {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 5px;
    // margin-right:-1px;
    // margin-bottom:-1px;
    margin-right: -1px;
    margin-bottom: -1px;
  }

  .custom .el-col {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }

  div.eo-vis-menu-svgWrapper:hover {
    color: dodgerblue;
  }

  .eo-vis-menu-bar-element .eo-vis-menu {
    border-right: none !important;
  }

  .components-list .form-edit-widget-label {
    font-size: 12px;
    display: block;
    width: 48% !important;
    line-height: 26px;
    position: relative;
    float: left;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1%;
    color: #333;
    border: 1px solid #F4F6FC;
  }

  .uncommonlyUsedComponentsSpan {
    margin-left: 10px;
  }
</style>
